<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width" />
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline />
</head>

<body>
  <table class="body">
    <tr>
      <td>
        <center>
          <!-- Header -->
          <container class="header">
            <callout>
              <spacer size="30"></spacer>
              <row valign="middle">
                <columns valign="middle" large="5" class="logo-wrap">
                  <img src="http://rtcode.ru/ewallet/email/logo.png" alt="" class="logo">
                </columns>
                <columns valign="middle" large="1">
                  <menu class="social">
                    <item href="#">Login</item>
                    <item href="#" class="accent">Signup</item>
                  </menu>
                </columns>
              </row>
              <spacer size="30"></spacer>
            </callout>
          </container>
          <container class="main-banner" align="center"
            style="background-image: url('http://rtcode.ru/ewallet/email/banner1.jpg');">
            <row valign="center">
              <h2 class="subtitle">The World’s first wallet thaht pays</h2>
              <h1 class="title">E-mail title text goes here</h1>
              <!-- <img src="http://rtcode.ru/ewallet/email/banner.jpg" alt=""> -->
            </row>
          </container>
          <container class="section-text">
            <spacer size="30"></spacer>
            <row>
              <columns class="section-text__content">
                <callout>
                  <h1 class="text-title">Text title</h1>
                  <spacer size="30"></spacer>
                  <p><strong>For full-scale realization of our product and offers the decision was made will focus on
                      creation by the principle of Win Win. As is well-known today there are set of ready IT of products
                      on the basis of blockchain technology, but they have no demand as initially developers do not
                      place emphasis on scalability. For full-scale realization of our product and offers the decision
                      was made will focus on creation by the principle of Win Win. </strong></p>
                  <p> As is well-known today there are set of ready IT of products on the basis of blockchain
                    technology, but they have no demand as initially developers do not place emphasis on scalability.
                    For full-scale realization of our product and offers the decision was made will focus on creation by
                    the principle of Win Win. </p>
                  <p> As is well-known today there are set of ready IT of products on the basis of blockchain
                    technology, but they have no demand as initially developers do not place emphasis on scalability. As
                    is well-known today there are set of ready IT of products on the basis of blockchain technology, but
                    they have no demand as initially developers do not place emphasis on scalability. For full-scale
                    realization of our product and offers the decision was made will focus on creation by the principle
                    of Win Win. </p>
                  <p> As is well-known today there are set of ready IT of products on the basis of blockchain
                    technology, but they have no demand as initially developers do not place emphasis on scalability.
                  </p>
                </callout>
                <spacer size="30"></spacer>
              </columns>
            </row>
          </container>
          <!-- Footer -->
          <container class="footer">
            <callout>
              <spacer size="60"></spacer>
              <row class="footer__row">
                <columns valign="middle">
                  <h2 class="social-title">Follow us</h2>
                  <spacer size="30"></spacer>
                  <center>
                    <menu>
                      <item href="#"><img src="http://rtcode.ru/ewallet/email/twitter.png" alt="" class="float-center">
                      </item>
                      <item href="#"><img src="http://rtcode.ru/ewallet/email/instagram.png" alt=""
                          class="float-center"></item>
                      <item href="#"><img src="http://rtcode.ru/ewallet/email/youtube.png" alt="" class="float-center">
                      </item>
                      <item href="#"><img src="http://rtcode.ru/ewallet/email/facebook.png" alt="" class="float-center">
                      </item>
                      <item href="#"><img src="http://rtcode.ru/ewallet/email/vk.png" alt="" class="float-center">
                      </item>
                    </menu>
                  </center>
                </columns>
              </row>
              <spacer size="30"></spacer>
              <row>
                <columns>
                  <center>
                    <menu>
                      <item href="#" class="float-center">How to Unsubscribe</item>
                    </menu>
                  </center>
                </columns>
              </row>
              <spacer size="30"></spacer>
            </callout>
          </container>
        </center>
      </td>
    </tr>
  </table>
</body>

</html>