* 
  box-sizing: border-box
	
html, 
body
  min-height: 100%

body
	background: #fff
	font-size: $fz
	font-family: $main-font
	line-height: 1.4
	min-width: 320px
	overflow-x: hidden
	&.overflow-bg
		overflow: hidden
		&:before
			content: ''
			background: rgba(#cbccc8, 0.95)
			width: 100%
			height: 100%
			left: 0
			right: 0
			bottom: 0
			top: 0
			position: fixed
			z-index: 10
	@include media-breakpoint-down(sm)
		font-size: 14px

// выделение текста
::selection
	background-color: $color-2
	color: $white

.section
	margin: 45px 0


.footer-links 
	li 
		display: inline-block
		vertical-align: top
		margin-left: 30px
		&:first-child 
				margin-left: 0
	a 
		color: #fff
		opacity: 0.5
		text-decoration: underline
		&:hover 
				opacity: 1

	@include media-breakpoint-down(sm)
		text-align: center
		margin-bottom: -10px
		li
			margin: 0 10px 10px

.text-right
	text-align: right

.text-left
	text-align: left