* 
  box-sizing: border-box
	
html, 
body
  min-height: 100%

body
	background: #fff
	font-size: 24px
	font-family: $main-font
	line-height: 1.4
	overflow-x: hidden
	max-width: 100%
  min-width: 320px

// выделение текста
::selection
	background-color: $blue
	color: $white
