* 
  box-sizing: border-box
	
html, 
body
  min-height: 100%

body
	background: #fff
	font-size: $fz
	font-family: $main-font
	line-height: 1.4
	overflow-x: hidden
	max-width: 100%
  	min-width: 320px
	@include media-breakpoint-down(sm)
		font-size: 14px

// выделение текста
::selection
	background-color: $color-2
	color: $white

.section
	padding: 45px 0

.loader
	width: 100%
	height: 100%
	position: fixed
	left: 0
	top: 0
	right: 0
	bottom: 0
	background: #000
	z-index: 2000
	mix-blend-mode: multiply
	&__inside
		width: 200vw
		height: 200vw
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%,-50%) scale(0.01)
		background: #ffffff
		opacity: 0
		border-radius: 50%