// done
@import "base/grid";
@import "helpers/index";
@import "generated/sprite-svg";
@import "generated/index";
@import "base/index";
@import "lib/index";
@import "common";
//@import 'components/_modals';
@import "components/_buttons";

@import "./components/_language-module";
@import "./components/_loader";
@import "./components/_top-buttons";
@import "./components/_footer";
@import "./components/_fields";
@import "./components/_notice";
@import "./components/_modals";
@import "./lib/jquery.dataTables.min";

$light: #00b8ca;
$margin: 70px;
$border-color: #ededed;

.lk {
  display: flex;
  flex-wrap: wrap;

  .container {
    max-width: 100%;
    margin-left: $margin;
    margin-right: $margin;
    width: auto;
  }

  section {
    margin-bottom: 40px;
  }
}

.lk-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    * {
      margin: 0 15px 0 0;
    }
  }
}

.icon-link {
  display: inline-flex;
  vertical-align: top;
  font-family: $accent-font;
  align-items: center;
  font-size: 13px;
  color: #fff;

  svg {
    width: 20px;
    height: 20px;
    display: block;
    fill: $light;
    margin-right: 15px;
  }

  &:hover {
    color: $white;
    text-decoration: underline;

    svg {
      fill: #fff;
    }
  }
}

.header-lk {
  background: #000;
  width: 100%;

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-left: 27px;

    img {
      display: block;
    }
  }

  &__welcome {
    margin-right: auto;
    letter-spacing: 0.25px;
    font-size: 13px;
    color: rgba(#fff, 0.3);
    margin-left: 30px;

    a {
      color: rgba(#fff, 0.3);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }

  .icon-link {
    margin-right: 50px;
  }

  .top-buttons {
    .language-module {
      &__current {
        text-transform: none;
        letter-spacing: normal;
      }
    }
  }
}

.language-module {
  &__dropdown {
    a {
      border-color: #888;
    }
  }
}

.lk-block {
  border: solid 1px $border-color;

  .field {
    display: flex;
    align-items: center;
    margin-bottom: 23px;

    &:last-child {
      margin-bottom: 0;
    }

    select,
    input {
      height: 40px;
      padding-left: 15px;
      font-size: 16px;
    }

    textarea {
      height: 90px;
    }

    select,
    input,
    textarea {
      border: solid 1px rgba(#898989, 0.4);
      border-radius: 5px;

      &:hover {
        border: solid 1px rgba(#898989, 0.6);
      }
    }

    label {
      width: 170px;
      flex-shrink: 0;
      text-transform: none;
      font-family: $main-font;
      letter-spacing: normal;
      font-weight: 400;
    }
  }
}

.lk-content-and-aside {
  width: 100%;

  .container {
    display: flex;
  }

  &__sidebar {
    width: 350px;
    background: #f3f3f3;
    padding-right: 30px;
    position: relative;

    .inner-wrapper-sticky {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &:before {
      content: "";
      width: 9999px;
      height: 100%;
      right: 100%;
      background: inherit;
      position: absolute;
      top: 0;
    }
  }

  &__content {
    width: calc(100% - 350px);
    padding: 30px 45px 60px;
  }
}

.lk-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
  margin-bottom: -15px;

  .lk-block {
    height: 100%;
  }

  &--title {
    .lk-block {
      height: calc(100% - 77px); // height title and margin
    }
  }

  &__col {
    width: 50%;
    padding: 15px;
  }
}

.notification-bar {
  background-image: linear-gradient(
    -267deg,
    #00cad1 0%,
    #00cad1 1%,
    #0055a5 91%,
    #0055a5 100%
  );
  height: 70px;
  width: 100%;
  color: #fff;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.28px;
  font-weight: 300;
  .container {
    height: inherit;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__content {
    height: inherit;
    display: flex;
    align-items: center;
    width: calc(100% - 350px);
    padding: 30px 45px;
    img {
      width: 25px;
      margin-right: 15px;
      display: block;
    }
  }
  &__button {
    width: 23px;
    height: 17px;
    display: block;
    transition: 0.2s ease-in-out;
    background: transparent;
    cursor: default;
    position: relative;
    margin-left: 30px;
    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      opacity: 0.2;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      background: #000;
      &:nth-child(1) {
        top: 0px;
        transform-origin: left center;
      }
      &:nth-child(2) {
        top: 8px;
        transform-origin: left center;
      }
      &:nth-child(3) {
        top: 16px;
        transform-origin: left center;
      }
    }
    &.open span {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
      }
      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
      }
    }
  }
}
.lk-navigation {
  a {
    font-size: 15px;
    color: #000;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    &:hover {
      text-decoration: underline;
    }
  }
  li {
    border-bottom: 1px solid #e0e0e0;
    &.active {
      a {
        color: #a7a7a7;
      }
    }
  }
  &__icon {
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 55px;
    img {
      width: 22px;
      max-height: 26px;
    }
  }
}
.lk-title {
  color: rgba(#000, 0.3);
  font-size: 27px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }
}
.balance-module {
  text-align: right;
  &__count {
    letter-spacing: 2.61px;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0062aa;
    font-family: $accent-font;
  }
  &__title {
    font-size: 13px;
    color: #808080;
    letter-spacing: 0.26px;
  }
}
.graph {
  img {
    display: block;
    max-width: 100%;
  }
}
.statistic {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  &__row {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    padding: 35px 30px;
    &:last-child {
      border: none;
    }
  }
  &__counts {
    text-align: right;
    color: rgba(#000, 0.3);
    font-size: 18px;
    padding-left: 15px;
    p {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    strong {
      color: rgba(#000, 0.7);
      font-weight: 700;
    }
  }
  &__icon {
    margin-right: 30px;
    img {
      display: block;
    }
  }
  &__currency {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: rgba(#000, 0.7);
  }
}
.available-profit {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  $parent: &;
  &__icon {
    margin-right: 30px;
    img {
      display: block;
    }
  }
  &__currency {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: rgba(#000, 0.7);
    width: 180px;
    flex-shrink: 0;
  }
  &__counts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 18px;
    strong {
      color: rgba(#000, 0.7);
    }
    span {
      color: rgba(#000, 0.3);
    }
  }
  .btn {
    font-size: 15px;
    height: 31px;
    padding: 0 15px;
    border-radius: 3px;
    &:hover {
      color: #fff;
    }
  }
  &__arrow {
    transform: rotate(-180deg);
    svg {
      width: 33px;
      height: 27px;
      display: block;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    padding: 2px 30px;
    &--btc {
      #{$parent}__arrow {
        svg {
          fill: #ff9b21;
        }
      }
    }
    &--eth {
      #{$parent}__arrow {
        svg {
          fill: #00d1a2;
        }
      }
    }
    &--ltc {
      #{$parent}__arrow {
        svg {
          fill: #00c5cf;
        }
      }
    }
    &:last-child {
      border: none;
    }
  }
}
.profits {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  li {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    margin: 0 50px 15px 0;
    img {
      flex-shrink: 0;
      display: block;
      width: 27px;
      margin-right: 10px;
    }
  }
}
.my-profit {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  &__icon {
    img {
      display: block;
      width: 33px;
      opacity: 0.3;
    }
  }
  &__content {
    width: calc(100% - 33px);
    padding-left: 30px;
  }
  &__name {
    font-size: 17px;
    margin-bottom: 10px;
  }
  &__value {
    font-weight: 700;
    font-size: 27px;
    line-height: 1;
    color: #0062aa;
    &--light {
      color: #00c5cf;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    padding: 25px 30px;
    &:last-child {
      border: none;
    }
  }
}
.activity {
  padding-top: 30px;
  .block-title {
    padding-left: 35px;
    padding-right: 35px;
  }
  &__date {
    color: rgba(#000, 0.4);
    text-transform: uppercase;
    font-size: 12px;
  }
  &__name {
    display: flex;
    align-items: center;
    color: rgba(#000, 0.7);
    font-size: 17px;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
    border-bottom: 1px solid $border-color;
    &:last-child {
      border: none;
    }
  }
  &__icon {
    margin-right: 25px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 24px;
      max-height: 24px;
    }
  }
}
.choose {
  padding: 30px 35px;
  input,
  select {
    color: #0062aa;
    font-size: 15px;
    font-weight: 700;
  }
  input {
    text-align: center;
  }
  .field {
    flex-wrap: wrap;
    label {
      width: 100%;
      font-size: 17px;
      margin-bottom: 10px;
    }
  }
}
.know {
  padding: 30px 35px;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    .block-title {
      margin-bottom: 0;
    }
  }
  &__button {
    color: #a8a8a8;
    font-size: 15px;
    font-weight: 400;
    border-radius: 16px;
    border: 1px solid #a8a8a8;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    &:hover {
      background: #0062aa;
      border-color: #0062aa;
      color: #fff;
    }
  }
  .typography {
    font-size: 16px;
    strong {
      font-size: 18px;
    }
  }
}
.promo {
  &__search {
    background-image: linear-gradient(
      -267deg,
      #00cad1 0%,
      #00cad1 1%,
      #0055a5 91%,
      #0055a5 100%
    );
    color: #fff;
    padding: 30px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      font-size: 17px;
      font-weight: 700;
    }
    button {
      background: transparent;
      width: 46px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        fill: #00d1a2;
        width: 34px;
        height: 38px;
      }
      &:hover {
        svg {
          fill: #fff;
        }
      }
    }
    input {
      flex-grow: 1;
      margin: 0 30px;
      height: 46px;
      border-radius: 3px;
      padding-left: 20px;
      color: rgba(#010101, 0.7);
      font-size: 15px;
      text-decoration: underline;
    }
  }
  &__content {
    padding: 40px 35px;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }
}
.color-blue {
  color: #0062aa;
}
.block-title {
  margin-bottom: 30px;
  font-size: 26px;
  color: #0062aa;
  font-weight: 400;
}
.lk-form {
  .lk-block {
    padding: 40px;
    margin-bottom: 20px;
  }
  &--max-width {
    .field {
      max-width: 470px;
    }
  }
}
.switch {
  cursor: pointer;
  $parent: &;
  user-select: none;
  @mixin on() {
    background-image: linear-gradient(
      -267deg,
      #00cad1 0%,
      #00cad1 1%,
      #0055a5 91%,
      #0055a5 100%
    );
    color: #fff;
  }
  @mixin off() {
    background-image: none;
    background-color: #dedede;
    color: #afafaf;
  }
  &__buttons {
    display: flex;
    margin: -1px;
    span {
      display: block;
      padding: 10px 15px;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 0.61px;
      font-weight: 700;
      margin: 1px;
      &:first-child {
        @include off();
      }
      &:last-child {
        @include on();
      }
    }
  }
  input {
    display: none;
    &:checked + span.switch__buttons {
      span {
        &:last-child {
          @include off();
        }
        &:first-child {
          @include on();
        }
      }
    }
  }
}
.email-module {
  display: flex;
  align-items: center;
  &__status {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    svg {
      margin-right: 10px;
      width: 26px;
      height: 19px;
    }
    &--success {
      color: #00d1a2;
      svg {
        fill: #00d1a2;
      }
    }
    &--error {
      color: red;
      svg {
        fill: red;
      }
    }
  }
  input {
    border: none !important;
    padding: 0 !important;
    font-size: 16px;
    pointer-events: none;
    color: #929292;
    font-weight: 700;
  }
}
.wallet-id {
  display: flex;
  align-items: center;
  width: 100%;
  input {
    border: none !important;
    padding: 0 !important;
    font-size: 16px;
    color: #929292;
    flex-grow: 1;
    width: calc(100% - 50px);
    font-weight: 700;
    pointer-events: none;
  }
  &__copy {
    width: 50px;
    height: 30px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
      width: 21px;
      height: 24px;
      fill: #0062aa;
    }
    &:hover {
      svg {
        fill: #000;
      }
    }
  }
}
.debit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 50px;
  img {
    display: block;
    max-width: 100%;
  }
  &__media {
    max-width: calc(100% - 410px);
  }
  &__title {
    font-size: 38px;
    max-width: 410px;
    flex-grow: 1;
  }
}
.amount {
  font-weight: 700;
  color: #0062aa;
  font-size: 46px;
  small {
    font-size: 23px;
  }
}
.referral-banners {
  img {
    display: block;
    max-width: 100%;
  }
  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__info {
    width: 130px;
    flex-shrink: 0;
    font-size: 15px;
  }
  &__name {
    display: block;
    margin-bottom: 2px;
  }
  &__size {
    font-weight: normal;
    display: block;
    margin-bottom: 8px;
  }
  &__link {
    display: block;
    text-decoration: underline;
    color: #ff9b21;
    font-weight: bold;
  }
}
@media only screen and (max-width: 767px) {
  .referral-banners {
    padding: 40px 15px;
  }
}
