// modal Beginner
+b.modal#buy-beginner
  +e.block
    +e.top
      +e.H3.title Покупка пакета
      +e.BUTTON.close.js-hide-modal
        +icon('cross')
    +e.content
        +b.buy-package
            +e.row
                +e.name Стоимость пакета <strong>Beginner</strong>
                +e.sep
                +e.P.price
                    big 100 
                    | у.е.
            +e.row
              +b.field-row
                +e.LABEL.name Выберите платежную систему:
                +b.payment-checkboxes
                  +e.row
                    +b.LABEL.checkbox-cube
                      input(type="radio", name="payment_method", checked)
                      span
                        img(src="img/payments/1.png", alt="")
                      +e.SPAN.balance 1 200 руб.
                    +b.LABEL.checkbox-cube
                      input(type="radio", name="payment_method")
                      span
                        img(src="img/payments/2.png", alt="")
                      +e.SPAN.balance 0 руб.
                    +b.LABEL.checkbox-cube
                      input(type="radio", name="payment_method")
                      span
                        img(src="img/payments/3.png", alt="")
                      +e.SPAN.balance 230 руб.
    +e.buttons
        +b.A(href="#", class="btn --gr-accent") Купить

// modal Business
+b.modal#buy-business
  +e.block
    +e.top
      +e.H3.title Покупка пакета
      +e.BUTTON.close.js-hide-modal
        +icon('cross')
    +e.content
        +b.buy-package
            +e.row
                +e.name Стоимость пакета <strong>Business</strong>
                +e.sep
                +e.P.price
                    big 300 
                    | у.е.
            +e.row
              +b.field-row
                +e.LABEL.name Выберите платежную систему:
                +b.payment-checkboxes
                  +e.row
                    +b.LABEL.checkbox-cube
                      input(type="radio", name="payment_method", checked)
                      span
                        img(src="img/payments/1.png", alt="")
                      +e.SPAN.balance 1 200 руб.
                    +b.LABEL.checkbox-cube
                      input(type="radio", name="payment_method")
                      span
                        img(src="img/payments/2.png", alt="")
                      +e.SPAN.balance 0 руб.
                    +b.LABEL.checkbox-cube
                      input(type="radio", name="payment_method")
                      span
                        img(src="img/payments/3.png", alt="")
                      +e.SPAN.balance 230 руб.
    +e.buttons
        +b.A(href="#", class="btn --gr-accent") Купить

// modal Lux
+b.modal#buy-lux
  +e.block
    +e.top
      +e.H3.title Покупка пакета
      +e.BUTTON.close.js-hide-modal
        +icon('cross')
    +e.content
        +b.buy-package
            +e.row
                +e.name Стоимость пакета <strong>Lux</strong>
                +e.sep
                +e.P.price
                    big 1000 
                    | у.е.
            +e.row
              +b.field-row
                +e.LABEL.name Выберите платежную систему:
                +b.payment-checkboxes
                  +e.row
                    +b.LABEL.checkbox-cube
                      input(type="radio", name="payment_method", checked)
                      span
                        img(src="img/payments/1.png", alt="")
                      +e.SPAN.balance 1 200 руб.
                    +b.LABEL.checkbox-cube
                      input(type="radio", name="payment_method")
                      span
                        img(src="img/payments/2.png", alt="")
                      +e.SPAN.balance 0 руб.
                    +b.LABEL.checkbox-cube
                      input(type="radio", name="payment_method")
                      span
                        img(src="img/payments/3.png", alt="")
                      +e.SPAN.balance 230 руб.
    +e.buttons
        +b.A(href="#", class="btn --gr-accent") Купить