---
title: eWallet
---
extends layouts/_layout
include partials/_header
include partials/_footer

block variables 
    - var pageName = "affiliate"

block content
    //
    +header()
    //
    +b.SECTION.page-intro
        .container
            +e.row
                +e.col
                    +b.H1.section-title A CRYPTO AFFILIATE PROGRAMME YOU’LL WANT TO SHOUT ABOUT
                    +e.text
                        p Earn up to 100% commission. for life. The world’s first regulated tokenised securities exchange.
                    +e.buttons
                        +b.A(href="signup.html", class="btn --gr-blue")
                            span Create a wallet
                +e.col
                    +e.image
                        img(src="img/affiliate.png", alt="")
    // 
    +b.ARTICLE.white.section
        .container
            //
            +b.SECTION.typography(class="--center").section
                +e.text
                    p 
                        strong A crypto affiliate programme you’ll want to shout about. earn up to 60% commission. for life. the world’s first regulated tokenised securities exchange.
                    p A crypto affiliate programme you’ll want to shout about. earn up to 60% commission. for life. the world’s first regulated tokenised securities exchange. A crypto affiliate programme you’ll want to shout about. earn up to 60% commission. for life. the world’s first regulated tokenised securities exchange.

            +b.SECTION.invest-plan
                +e.H3.title Invest plan
                +b.table-gradient
                    +e.TABLE.table.js-table-mobile-headers
                        thead
                            tr
                                th <big>Every day for 10 days</big>
                                th From day 11 
                                th From day 21 
                                th From day 31 
                                th From day 41 
                        tbody
                            tr
                                td <big>0.2%</big> every day
                                td <big>0.3%</big> a day
                                td <big>0.4%</big> a day
                                td <big>0.5%</big> a day
                                td <big>1%</big> a day

    // 
    +b.SECTION.create.section
        .container
            +e.buttons
                +b.A(href="signup.html", class="btn --gr-blue --large") 
                    span TO CREATE A WEB WALLET NOW
    //
    include partials/_social
    //
    +footer()