---
title: Личный кабинет
---

extends layouts/layout-lk

block variables 
  - var pageName = "page-1"
  
block content

    +b.SECTION.lk-section
        //
        +b.lk-info
            +e.row
                +e.item
                    +e.P.name Представитель
                    p Username
                +e.item
                    +e.P.name Ваш ID
                    p 00001036
                +e.item
                    +e.P.name Ваш телефон
                    p +7 707 491-04-87
                +e.item
                    +e.P.name Ваш статус
                    p Представитель
                +e.item
                    +e.P.name Ваш куратор <a href="#">vvvmoney</a>
                    p +7 707 491-04-87
    
    +b.SECTION.lk-section
        //
        +b.lk-banners
            +e.row
                +e.col
                    +b.banner-module(class="--dark")
                        +e.content
                            +e.P.title Активировать бэк-офис
                            +e.P.desc <span>Стоимость:</span> <big>25</big> у.е.
                            +e.buttons
                                +b.A(href="#", class="btn --gr-accent") Активировать
                        +e.icon
                            img(src="icons/rocket.svg", alt="")
                +e.col
                    +b.banner-module(class="--light js-copy")
                        +e.content
                            +e.P.title Приглашайте рефералов
                            +e.INPUT(type="text", value="http://ll-club.com/ref?=sadhsahjdbjhasda", class="field js-copy-input")
                            +e.buttons
                                +b.BUTTON(class="btn --gr-gray js-copy-button") Скопировать
    
    +b.SECTION.lk-section
        //
        +b.lk-title-module
            +e.H3.title Ваши профессии
            +e.buttons
                +b.A(href="#", class="btn --border-gray-radius")
                    span Начать новый курс
                    img(src="img/circle-plus.png", alt="")

    +b.SECTION.lk-section
        //
        +b.lk-professions
            //
            +b.lk-profession
                +e.col
                    +e.icon
                        img(src="img/icons/user-line.svg", alt="")
                    +e.content
                        +e.P.title Название курса <span>$299</span>
                        +e.P.date 12/08/2019 - 12/12/2019
                    +e.buttons
                        +b.A(href="#", class="btn --gray") Продолжить
                +e.col
                    +b.status-graph
                        +e.P.name Название профессии
                        +e.bar(data-status="56")
            +b.lk-profession
                +e.col
                    +e.icon
                        img(src="img/icons/user-line.svg", alt="")
                    +e.content
                        +e.P.title Название курса <span>$499</span>
                        +e.P.date 12/08/2019 - 12/12/2019
                    +e.buttons
                        +b.A(href="#", class="btn --gray") Продолжить
                +e.col
                    +b.status-graph
                        +e.P.name Название профессии
                        +e.bar(data-status="74")
    
    +b.SECTION.lk-section
        //
        +b.lk-title-module
            +e.H3.title График развития вашей команды

    +b.SECTION.lk-section
        //
        +b.growth-graph
            <canvas id="growth-graph" width="1097" height="385"></canvas>
    
    +b.SECTION.lk-section
        //
        +b.lk-title-module
            +e.H3.title Реферальная статистика
    
    +b.SECTION.lk-section
        //
        +b.lk-refferal
            +e.UL.list
                +e.LI
                    +e.content
                        +e.P.name 
                            span Всего приглашений
                        +e.P.count 28
                    +e.bar(class="--brown", data-percent="33")
                +e.LI
                    +e.content
                        +e.P.name 
                            span Starter
                        +e.P.count 81
                    +e.bar(class="--gray-light", data-percent="65")
                +e.LI
                    +e.content
                        +e.P.name 
                            span Business
                        +e.P.count 136
                    +e.bar(class="--gray", data-percent="95")
                +e.LI
                    +e.content
                        +e.P.name 
                            span Lux
                        +e.P.count 53
                    +e.bar(class="--dark" , data-percent="44")
                +e.LI
                    +e.content
                        +e.P.name 
                            span Не оплаченное
                        +e.P.count 10
                    +e.bar(class="--yellow", data-percent="17")


    +b.SECTION.lk-section
        //
        +b.UL.social-module
            +e.LI
                +e.A(href="#", target="_blank")
                    +icon('instagram')
            +e.LI
                +e.A(href="#", target="_blank")
                    +icon('vk')
            +e.LI
                +e.A(href="#", target="_blank")
                    +icon('youtube')
            +e.LI
                +e.A(href="#", target="_blank")
                    +icon('facebook')
