---
title: Личный кабинет
---

extends layouts/layout-lk

block variables 
  - var pageName = "lk-2-3"
  
block content

    +b.SECTION.lk-section
      //
      include partials/_lk-info

    +b.SECTION.lk-section
      //
      +b.lk-banners
        +e.row
          +e.col
            +b.banner-price(class="--dark")
              +e.col
                +e.P.title Доступная сумма для вывода 
                +e.P.price <big>121</big> у.е
              +e.icon
                img(src="img/lk/002-money.png", alt="")
          +e.col
            +b.banner-price(class="--accent")
              +e.col
                +e.P.title Заработано за весь период
                +e.P.price <big>56</big> у.е
              +e.icon
                img(src="img/lk/001-save-money.png", alt="")
    
    +b.SECTION.lk-section
      //
      +b.lk-block
        +e.top
          +e.H3.title Перевести средства
        +e.content
          form
            +b.field-row
              +e.LABEL.name Логин для перевода
              input(type="text", class="field")
            +b.field-row
              +e.LABEL.name Сумма перевода
              input(type="text", class="field")
            +b.field-row
              +e.LABEL.name Комментарий
              textarea.field.field--full
            +b.BUTTON.btn(class="--gr-accent") Перевести
    
    +b.SECTION.lk-section
      //
      +b.lk-title-module
        +e.H3.title(class="--large") Историй транзакций

    +b.SECTION.lk-section
      //
      +b.table-wrapper
        table.js-data-tables
          thead
            tr  
              th Дата
              th статус
              th сумма
              th метод перевода
              th Коментарии
              th кому
              th
          tbody
            mixin tr()
              tr
                td 22/02/2020
                td Оплачено
                td 255 у.е
                td Внутренний перевод
                td Комментарий
                td Username
                td.text-right
                  +b.A(href="#", class="btn --payment") 
                    span Перевести
                    img(src="img/payments/button-arrow.png", alt="")
              tr
                td 22/02/2020
                td Оплачено
                td 255 у.е
                td Внутренний перевод
                td Комментарий
                td Username
                td.text-right
                  +b.A(href="#", class="btn --payment") 
                    span Перевести
                    img(src="img/payments/button-arrow.png", alt="")
              tr
                td 22/02/2020
                td Оплачено
                td 255 у.е
                td Внутренний перевод
                td Комментарий
                td Username
                td.text-right
                  +b.A(href="#", class="btn --payment") 
                    span Перевести
                    img(src="img/payments/button-arrow.png", alt="")
            
            +tr()
            +tr()
            +tr()
            +tr()
            +tr()

    +b.SECTION.lk-section
      //
      include partials/_social-module