---
title: Личный кабинет
---

extends layouts/layout-lk

block variables 
  - var pageName = "lk-2-4"
  
block content

    +b.SECTION.lk-section
      //
      include partials/_lk-info

    +b.SECTION.lk-section
      //
      +b.lk-banners
        +e.row
          +e.col
            +b.banner-price(class="--dark")
              +e.col
                +e.P.title Доступная сумма для вывода 
                +e.P.price <big>121</big> у.е
              +e.icon
                img(src="img/lk/002-money.png", alt="")
          +e.col
            +b.banner-price(class="--accent")
              +e.col
                +e.P.title Заработано за весь период
                +e.P.price <big>56</big> у.е
              +e.icon
                img(src="img/lk/001-save-money.png", alt="")
    
    +b.SECTION.lk-section
      //
      +b.lk-block
        +e.top
          +e.H3.title Партнерские начисления
        +e.content
          +b.affiliate-accruals
            +e.row
              +e.col
                +e.P.name Реферальный бонус
                +e.circle
                  p 76<small>у.е.</small>
              +e.col
                +e.P.name Спикерский бонус
                +e.circle(class="--dark")
                  p 12<small>у.е.</small>
    +b.SECTION.lk-section
      //
      +b.lk-title-module
        +e.H3.title(class="--large") Историй начислений

    +b.SECTION.lk-section
      //
      +b.table-wrapper
        table.js-data-tables
          thead
            tr  
              th Дата
              th статус
              th сумма
              th метод перевода
              th Коментарии
          tbody
            mixin tr()
              tr
                td 22/02/2020
                td Оплачено
                td 255 у.е
                td Внутренний перевод
                td Комментарий
        
              tr
                td 22/02/2020
                td Оплачено
                td 255 у.е
                td Внутренний перевод
                td Комментарий
                
              tr
                td 22/02/2020
                td Оплачено
                td 255 у.е
                td Внутренний перевод
                td Комментарий
              
            
            +tr()
            +tr()


    +b.SECTION.lk-section
      //
      include partials/_social-module