---
title: Личный кабинет
---

extends layouts/layout-lk

block variables 
  - var pageName = "lk-2-2"
  
block content

    +b.SECTION.lk-section
      //
      include partials/_lk-info

    +b.SECTION.lk-section
      //
      +b.lk-banners
        +e.row
          +e.col
            +b.banner-price(class="--dark")
              +e.col
                +e.P.title Доступная сумма для вывода 
                +e.P.price <big>121</big> у.е
              +e.icon
                img(src="img/lk/002-money.png", alt="")
          +e.col
            +b.banner-price(class="--accent")
              +e.col
                +e.P.title Заработано за весь период
                +e.P.price <big>56</big> у.е
              +e.icon
                img(src="img/lk/001-save-money.png", alt="")
    
    +b.SECTION.lk-section
      //
      +b.lk-block
        +e.top
          +e.H3.title Вывести средства
        +e.content
          form
            +b.field-row
              +e.LABEL.name Выберите платежную систему:
              +b.payment-checkboxes
                +e.row
                  +b.LABEL.checkbox-cube
                    input(type="radio", name="payment_method", checked)
                    span
                      img(src="img/payments/1.png", alt="")
                  +b.LABEL.checkbox-cube
                    input(type="radio", name="payment_method")
                    span
                      img(src="img/payments/2.png", alt="")
                  +b.LABEL.checkbox-cube
                    input(type="radio", name="payment_method")
                    span
                      img(src="img/payments/3.png", alt="")
              
            +b.field-row
              +e.LABEL.name Введите сумму
              +e.row
                input(type="text", class="field")
                +e.P.italic Минимальная сумма вывода 1 у.е.
            +b.BUTTON.btn(class="--gr-accent") Вывести
    
    +b.SECTION.lk-section
      //
      +b.lk-title-module
        +e.H3.title(class="--large") Историй транзакций

    +b.SECTION.lk-section
      //
      +b.table-wrapper
        table.js-data-tables
          thead
            tr  
              th Дата
              th статус
              th сумма
              th метод вывода
              th Коментарии
              th
          tbody
            mixin tr()
              tr
                td 22/02/2020
                td Оплачено
                td 255 у.е
                td 
                  +b.payment-method
                    span Вывод с Perfect Money 
                    img(src="img/payments/1.png", alt="")
                td Комментарий
                td.text-right
                  +b.A(href="#", class="btn --payment") 
                    span Перевести
                    img(src="img/payments/button-arrow.png", alt="")
              tr
                td 22/02/2020
                td Оплачено
                td 255 у.е
                td 
                  +b.payment-method
                    span Вывод с Payeer 
                    img(src="img/payments/2.png", alt="")
                td Комментарий
                td.text-right
                  +b.A(href="#", class="btn --payment") 
                    span Перевести
                    img(src="img/payments/button-arrow.png", alt="")
              tr
                td 22/02/2020
                td Оплачено
                td 255 у.е
                td 
                  +b.payment-method
                    span Вывод с Pax  
                    img(src="img/payments/3.png", alt="")
                td Комментарий
                td.text-right
                  +b.A(href="#", class="btn --payment") 
                    span Перевести
                    img(src="img/payments/button-arrow.png", alt="")
            
            +tr()
            +tr()
            +tr()
            +tr()
            +tr()

    +b.SECTION.lk-section
      //
      include partials/_social-module