---
title: Личный кабинет
---

extends layouts/layout-lk

block variables 
  - var pageName = "lk-4"
  
block content

    +b.SECTION.lk-section
      //
      include partials/_lk-info

    +b.SECTION.lk-section
      //
      +b.lk-title-module
        +e.H3.title Новости и события


    +b.SECTION.lk-section

      // item
      mixin news-item(itemDate)
        +b.news-item(class="js-open-news")
          +e.reading
            img(src="icons/reading.svg", alt="")
            span Прочитано
          +e.date #{itemDate}
          +e.content
            if block
              block
          svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 31.5 22.1')
            path(d='M21.2,0.3c-0.4-0.4-1.1-0.4-1.6,0c-0.4,0.4-0.4,1.1,0,1.6l8,8H1.1C0.5,10,0,10.4,0,11.1s0.5,1.1,1.1,1.1h26.6l-8,8c-0.4,0.4-0.4,1.2,0,1.6c0.4,0.4,1.2,0.4,1.6,0l10-10c0.4-0.4,0.4-1.1,0-1.6L21.2,0.3z')

      +b.news-list-stroke

        +news-item('22/05/2019')
          +e.annotation 
            p Токены WTP можно купить здесь. Купив токены на бирже, инвестор вносит их на платформу. При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи. Все расчеты в кабинете отображаются в долларах США. Инвестор за внутренние доллары покупает инвестиционные пакеты. Все начисления отображаются в долларах, в том числе реферальные комиссии, начисления по бинарному маркетингу.
          +e.details
            +b.A(href="https://youtu.be/lQFLp1iHnxw").video-module.js-modal
              img(src="img/media.jpg", alt="")
            p Токены WTP можно купить здесь. Купив токены на бирже, инвестор вносит их на платформу. При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи. Все расчеты в кабинете отображаются в долларах США. Инвестор за внутренние доллары покупает инвестиционные пакеты. Все начисления отображаются в долларах, в том числе реферальные комиссии, начисления по бинарному маркетингу. 
        +news-item('22/05/2019')
          +e.annotation 
            p Токены WTP можно купить здесь. Купив токены на бирже, инвестор вносит их на платформу. При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи. Все расчеты в кабинете отображаются в долларах США. Инвестор за внутренние доллары покупает инвестиционные пакеты. Все начисления отображаются в долларах, в том числе реферальные комиссии, начисления по бинарному маркетингу.
          +e.details
            p Токены WTP можно купить здесь. Купив токены на бирже, инвестор вносит их на платформу. При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи. Все расчеты в кабинете отображаются в долларах США. Инвестор за внутренние доллары покупает инвестиционные пакеты. Все начисления отображаются в долларах, в том числе реферальные комиссии, начисления по бинарному маркетингу. 
        
        +news-item('22/05/2019')
          +e.annotation 
            p Токены WTP можно купить здесь. Купив токены на бирже, инвестор вносит их на платформу. При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи. Все расчеты в кабинете отображаются в долларах США. Инвестор за внутренние доллары покупает инвестиционные пакеты. Все начисления отображаются в долларах, в том числе реферальные комиссии, начисления по бинарному маркетингу.
          +e.details
            p Токены WTP можно купить здесь. Купив токены на бирже, инвестор вносит их на платформу. При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи. Все расчеты в кабинете отображаются в долларах США. Инвестор за внутренние доллары покупает инвестиционные пакеты. Все начисления отображаются в долларах, в том числе реферальные комиссии, начисления по бинарному маркетингу. 
        
        +news-item('22/05/2019')
          +e.annotation 
            p Токены WTP можно купить здесь. Купив токены на бирже, инвестор вносит их на платформу. При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи. Все расчеты в кабинете отображаются в долларах США. Инвестор за внутренние доллары покупает инвестиционные пакеты. Все начисления отображаются в долларах, в том числе реферальные комиссии, начисления по бинарному маркетингу.
          +e.details
            p Токены WTP можно купить здесь. Купив токены на бирже, инвестор вносит их на платформу. При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи. Все расчеты в кабинете отображаются в долларах США. Инвестор за внутренние доллары покупает инвестиционные пакеты. Все начисления отображаются в долларах, в том числе реферальные комиссии, начисления по бинарному маркетингу. 
        
        +news-item('22/05/2019')
          +e.annotation 
            p Токены WTP можно купить здесь. Купив токены на бирже, инвестор вносит их на платформу. При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи. Все расчеты в кабинете отображаются в долларах США. Инвестор за внутренние доллары покупает инвестиционные пакеты. Все начисления отображаются в долларах, в том числе реферальные комиссии, начисления по бинарному маркетингу.
          +e.details
            p Токены WTP можно купить здесь. Купив токены на бирже, инвестор вносит их на платформу. При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи. Все расчеты в кабинете отображаются в долларах США. Инвестор за внутренние доллары покупает инвестиционные пакеты. Все начисления отображаются в долларах, в том числе реферальные комиссии, начисления по бинарному маркетингу.
    
    +b.SECTION.lk-section
      //
      include partials/_social-module
      