---
title: Личный кабинет
---

extends layouts/layout-lk

block variables 
  - var pageName = "lk-5"
  
block content

    +b.SECTION.lk-section
      //
      include partials/_lk-info

    +b.SECTION.lk-section
      //
      +b.lk-title-module(class="--border")
        +e.H3.title Моя команда
        +e.buttons
          +b.A(href="#", class="btn --border-gray-radius")
            span Регистрация нового партнера
            img(src="img/circle-plus.png", alt="")

    +b.SECTION.refferal.lk-section
      //
      mixin refferal-item(itemName, itemDesc, itemClass, avaSrc)
        +b.refferal-item(class=itemClass)
          +e.content
            +e.P.name
              span Имя 
              span Фамилия
            +e.P.desc #{itemDesc}
            +e.P.info
              span ID-партнера
              span Логин
          +e.icon
            if avaSrc == null
              +icon('user-team')
            else
              img(src=avaSrc, alt="")
      mixin level-list()
        +b.UL.level-list
          +e.LI
            +e.P.title Заработано
          +e.LI
            +e.BUTTON
              +e.indicator
                +e.SPAN.nmb(class="--color-1") 0
                +e.SPAN.nmb(class="--color-2") 1
                +e.SPAN.nmb(class="--color-3") 2
              +e.name Уровень 1 
              +e.price 101 у.е
          +e.LI(class=" active")
            +e.BUTTON
              +e.indicator
                +e.SPAN.nmb(class="--color-1") 1
                +e.SPAN.nmb(class="--color-2") 2
                +e.SPAN.nmb(class="--color-3") 1
              +e.name Уровень 2 
              +e.price 101 у.е
          +e.LI
            +e.BUTTON
              +e.indicator
                +e.SPAN.nmb(class="--color-1") 1
                +e.SPAN.nmb(class="--color-2") 2
                +e.SPAN.nmb(class="--color-3") 1
              +e.name Уровень 3 
              +e.price 101 у.е
          +e.LI
            +e.BUTTON
              +e.indicator
                +e.SPAN.nmb(class="--color-1") 0
                +e.SPAN.nmb(class="--color-2") 1
                +e.SPAN.nmb(class="--color-3") 2
              +e.name Уровень 4 
              +e.price 101 у.е
          +e.LI
            +e.BUTTON
              +e.indicator
                +e.SPAN.nmb(class="--color-1") 0
                +e.SPAN.nmb(class="--color-2") 1
                +e.SPAN.nmb(class="--color-3") 2
              +e.name Уровень 5 
              +e.price 101 у.е
          +e.LI
            +e.BUTTON
              +e.indicator
                +e.SPAN.nmb(class="--color-1") 0
                +e.SPAN.nmb(class="--color-2") 1
                +e.SPAN.nmb(class="--color-3") 2
              +e.name Уровень 6 
              +e.price 101 у.е
          +e.LI
            +e.BUTTON
              +e.indicator
                +e.SPAN.nmb(class="--color-1") 0
                +e.SPAN.nmb(class="--color-2") 1
                +e.SPAN.nmb(class="--color-3") 2
              +e.name Уровень 7 
              +e.price 101 у.е
          +e.LI
            +e.BUTTON
              +e.indicator
                +e.SPAN.nmb(class="--color-1") 0
                +e.SPAN.nmb(class="--color-2") 1
                +e.SPAN.nmb(class="--color-3") 2
              +e.name Уровень 8 
              +e.price 101 у.е
      //
      
  
      +e.section(class="--content")
        +e.scheme-top
          +b.team-status
            p Статусы участников команды:
            ul
              li
                +b.color-indication
                  +e.color(class="--color-1")
                  +e.P.name Starter
              li
                +b.color-indication
                  +e.color(class="--color-2")
                  +e.P.name Beginner
              li
                +b.color-indication
                  +e.color(class="--color-3")
                  +e.P.name Business
              li
                +b.color-indication
                  +e.color(class="--color-4")
                  +e.P.name Lux
          +e.buttons
            +e.BUTTON.button(class="--up")
              span На уровень выше
              +icon('arrow')
            +e.BUTTON.button(class="--search")
              span Поиск партнеров
              +icon('search')
          +b.team-title
            +e.H3.title 
              span Моя команда: 
                strong уровень 2
            // --down
            +e.BUTTON.level-btn(class="--up")
              +icon('arrow')
          +level-list()
        // l1
        +e.scheme
          ul
            li
              
              +refferal-item('Имя Фамилия', 'Контакт', '')
            
              // l2
              ul
                li
                  +refferal-item('Имя Фамилия', 'Контакт', '--color-1', 'https://picsum.photos/id/237/200/200')
                  // l3
                  ul
                    li
                      +refferal-item('Имя Фамилия', 'Контакт', '--color-4')
                    li
                      +refferal-item('Имя Фамилия', 'Контакт', '--color-2')
                    li
                      +refferal-item('Имя Фамилия', 'Контакт', '--color-3')
                    li
                      +refferal-item('Имя Фамилия', 'Контакт', '--color-1')
                    li
                      +refferal-item('Имя Фамилия', 'Контакт', '--color-2')
                li
                  +refferal-item('Имя Фамилия', 'Контакт', '--color-2')
                  // l3
                  ul
                    li
                      +refferal-item('Имя Фамилия', 'Контакт', '--color-4', 'https://picsum.photos/id/237/200/200')
                    li
                      +refferal-item('Имя Фамилия', 'Контакт', '--color-2')
                    li
                      +refferal-item('Имя Фамилия', 'Контакт', '--color-3')
                li
                  +refferal-item('Имя Фамилия', 'Контакт', '--color-3')
                  // l3
                  ul
                    li
                      +refferal-item('Имя Фамилия', 'Контакт', '--color-4')
                li
                  +refferal-item('Имя Фамилия', 'Контакт', '--color-4')
                  // l3
                  ul
                    li
                      +refferal-item('Имя Фамилия', 'Контакт', '--color-4')
                    li
                      +refferal-item('Имя Фамилия', 'Контакт', '--color-2')
                    li
                      +refferal-item('Имя Фамилия', 'Контакт', '--color-3')
                    li
                      +refferal-item('Имя Фамилия', 'Контакт', '--color-1')
                li
                  +refferal-item('Имя Фамилия', 'Контакт', '--color-2')
                  // l3
                  ul
                    li
                      +refferal-item('Имя Фамилия', 'Контакт', '--color-4')
                    li
                      +refferal-item('Имя Фамилия', 'Контакт', '--color-2')
                    li
                      +refferal-item('Имя Фамилия', 'Контакт', '--color-3')
                    li
                      +refferal-item('Имя Фамилия', 'Контакт', '--color-1')

    +b.SECTION.lk-section
      //
      +b.lk-title-module(class="--border")
        +e.H3.title Список начислений по партнерской программе

    +b.SECTION.lk-section
      //
      +b.table-wrapper
        table.js-data-tables
          thead
            tr  
              th Сумма
              th От кого (логин)
              th Уровень
              th Дата
          tbody
            mixin tr()
              tr
                td 255 у.е
                td Username
                td 1 уровень
                td 22/02/2020
              tr
                td 255 у.е
                td Username
                td 1 уровень
                td 22/02/2020
              tr
                td 255 у.е
                td Username
                td 1 уровень
                td 22/02/2020
            +tr()
            +tr()
            +tr()
            +tr()
    +b.SECTION.lk-section
      //
      include partials/_social-module