---
title: Личный кабинет
---

extends layouts/layout-lk

block variables 
  - var pageName = "lk-6"
  
block content

    +b.SECTION.lk-section
      //
      include partials/_lk-info

    +b.SECTION.lk-section
      //
      +b.lk-title-module
        +e.H3.title Обучение

    +b.SECTION.lk-section
      //
      include partials/_lk-professions
    
    +b.SECTION.lk-section
      +b.instruction-item
        .typography 
          h2 Инструкция по сайту
          p Токены WTP можно купить здесь. Купив токены на бирже, инвестор вносит их на платформу. При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи. Все расчеты в кабинете отображаются в долларах США. Инвестор за внутренние доллары покупает инвестиционные пакеты. Все начисления отображаются в долларах, в том числе реферальные комиссии, начисления по бинарному маркетингу.
          p Токены WTP можно купить здесь. Купив токены на бирже, инвестор вносит их на платформу. При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи. Все расчеты в кабинете отображаются в долларах США. Инвестор за внутренние доллары покупает инвестиционные пакеты. Все расчеты в кабинете отображаются в долларах США. Инвестор за внутренние доллары покупает инвестиционные пакеты. Все начисления отображаются в долларах, в том числе реферальные комиссии, начисления по бинарному маркетингу.
          +b.A(href="https://youtu.be/kZMMH1MO9YA" class="btn --gray js-modal") Смотреть видео
    
    +b.SECTION.lk-section
      +b.instruction-item
        .typography 
          h2 Инструкция по сайту
          p Токены WTP можно купить здесь. Купив токены на бирже, инвестор вносит их на платформу. При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи. Все расчеты в кабинете отображаются в долларах США. Инвестор за внутренние доллары покупает инвестиционные пакеты. Все начисления отображаются в долларах, в том числе реферальные комиссии, начисления по бинарному маркетингу.
          p Токены WTP можно купить здесь. Купив токены на бирже, инвестор вносит их на платформу. При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи. Все расчеты в кабинете отображаются в долларах США. Инвестор за внутренние доллары покупает инвестиционные пакеты. Все расчеты в кабинете отображаются в долларах США. Инвестор за внутренние доллары покупает инвестиционные пакеты. Все начисления отображаются в долларах, в том числе реферальные комиссии, начисления по бинарному маркетингу.
          +b.A(href="https://youtu.be/kZMMH1MO9YA" class="btn --gray js-modal") Смотреть видео
    
    +b.SECTION.lk-section
      //
      +b.lk-title-module
        +e.H3.title Наши продукты
    

    mixin product-item(image, title, price, tag)
      +b.product-item(data-tag=tag)
        +e.A(href="#").image
          img(src=image, alt="")
        +e.content
          +e.A(href="#").title  #{title}
          if block
            block
        +e.bottom
          +e.A(href="#", class="btn") Записаться на курс
          +e.P.price #{price}



    +b.SECTION.lk-section
      //
      +b.products
        +e.filters
          +b.LABEL.filter-tag
            input(type="checkbox", value="Фото/видео", checked)
            span Фото/видео
          +b.LABEL.filter-tag
            input(type="checkbox", value="Инвестор", checked)
            span Инвестор
          +b.LABEL.filter-tag
            input(type="checkbox", value="Бизнес")
            span Бизнес
          +b.LABEL.filter-tag
            input(type="checkbox", value="Маркетинг")
            span Маркетинг
          +b.LABEL.filter-tag
            input(type="checkbox", value="Разработчик")
            span Разработчик
          +b.LABEL.filter-tag
            input(type="checkbox", value="Дизайнер")
            span Дизайнер
          +b.LABEL.filter-tag
            input(type="checkbox", value="Продажи")
            span Продажи
          +b.LABEL.filter-tag
            input(type="checkbox", value="Ораторское искусство")
            span Ораторское искусство
          +b.LABEL.filter-tag
            input(type="checkbox", value="ЗОЖ")
            span ЗОЖ
        +e.list

            //
            +product-item('img/lk/product.jpg', 'Название курса', '299 у.е.', 'Фото/видео')
              p При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи.

            +product-item('img/lk/product.jpg', 'Название курса', '299 у.е.', 'Фото/видео')
              p При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи. 

            +product-item('img/lk/product.jpg', 'Название курса', '299 у.е.', 'Инвестор')
              p При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи. 

            +product-item('img/lk/product.jpg', 'Название курса', '299 у.е.', 'Фото/видео')
              p При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи. 

            +product-item('img/lk/product.jpg', 'Название курса', '299 у.е.', 'Инвестор')
              p При пополнения кабинета  в проекте его токены WTP обмениваются на доллары США по курсу биржи.  

    +b.SECTION.lk-section
      //
      include partials/_pagination
    
    +b.SECTION.lk-section
      //
      include partials/_social-module