---
title: Личный кабинет
---

extends layouts/layout-lk

block variables 
  - var pageName = "lk-6"
  
block content

    +b.SECTION.lk-section
      //
      include partials/_lk-info

    +b.SECTION.lk-section
      //
      +b.lk-title-module
        +e.H3.title Инструкция по бизнесу

    +b.SECTION.lk-section
      mixin video-item(image, title, price)
        +b.A(href="https://youtu.be/lQFLp1iHnxw").block-item(class="--video").js-modal
          +e.image
            img(src=image, alt="")
          +e.content
            +e.title #{title}
            if block
              block
       
      //
      +b.lk-block-border
        +b.media-list
          +video-item('img/lk/product.jpg', 'Название видео')
          +video-item('img/lk/product.jpg', 'Название видео')
          +video-item('img/lk/product.jpg', 'Название видео')
          +video-item('img/lk/product.jpg', 'Название видео')
          +video-item('img/lk/product.jpg', 'Название видео')
          +video-item('img/lk/product.jpg', 'Название видео')
          +video-item('img/lk/product.jpg', 'Название видео')
          +video-item('img/lk/product.jpg', 'Название видео')
          +video-item('img/lk/product.jpg', 'Название видео')
    
    +b.SECTION.lk-section
      //
      include partials/_pagination
    
    +b.SECTION.lk-section
      //
      include partials/_social-module