---
title: eWallet
---
extends layouts/_layout-lk
include partials/_lk-top
block variables 
  - var pageName = "lk-7"

block content

    +lk-top()

    +b.H3.lk-title Settings

    +b.FORM.lk-form(class="--max-width")
        +b.lk-block
          // .field--error
          +b.field
              label E-mail
              +b.email-module
                input(type="text" value="mail@gmail.com")
                // status--error
                +e.status(class="--success")
                  +icon('check')
                  span Verificated
          +b.field
              label Wallet ID
              +b.wallet-id.js-copy 
                input(type="text" value="234234knjjk23h23b4uy234hu234").js-copy-input
                +e.SPAN.copy.js-copy-button
                  +icon('copy')
          +b.field
              label Phone Number
              input(type="text" value="+31 4234 3242355")
          +b.field
              label Balance Currency
              select
                option US Dollars
          +b.field
              label Password
              input(type="password" value="qwerty123")
          +b.field
              label Re-enter password
              input(type="password" value="qwerty123")
          +b.field
            label 2FA Autentification
            +b.LABEL.switch
              input(type="checkbox" name="2fa").js-2fa-checker
              +e.SPAN.buttons
                span On
                span Off
        +b.BUTTON.btn(class="--square-gr") Save Settings
          