---
title: Личный кабинет
---

extends layouts/layout-lk

block variables 
  - var pageName = "lk-7"
  
block content

    +b.SECTION.lk-section
      //
      include partials/_lk-info
    +b.SECTION.lk-section
      //
      +b.lk-title-module(class="--border")
        +e.H3.title Настройки
        
    +b.SECTION.lk-section
        +b.settings-top
          +e.col
            //
            +b.form(class="--border")
              +e.row
                +e.LABEL.label Фамилия
                +b.INPUT(type="text").field(class="--error")
              +e.row
                +e.LABEL.label Имя
                +b.INPUT(type="text").field
              +e.row
                +e.LABEL.label E-mail
                +b.INPUT(type="text").field
              +e.row
                +e.LABEL.label Номер телефона
                +b.INPUT(type="text").field
              +e.row
                +e.LABEL.label Фото для аватара
                +b.LABEL.file-button
                  +b.INPUT(type="file")
                  span.btn.btn--gr-gray-2 Загрузить
          +e.col
            +b.avatar-module
              img(src="img/lk/avatar.jpg", alt="")
    +b.SECTION.lk-section
      //
      +b.lk-title-module(class="--border")
        +e.H3.title Ваши кошельки

    +b.SECTION.lk-section
      //
      +b.form(class="--border")
        +e.row
          +e.LABEL.label Кошелек Payeer
          +b.INPUT(type="text").field
        +e.row
          +e.LABEL.label Кошелек Perfect Money
          +b.INPUT(type="text").field
        +e.row
          +e.LABEL.label Кошелек PAX
          +b.INPUT(type="text").field
    
    +b.SECTION.lk-section
      //
      +b.lk-title-module(class="--border")
        +e.H3.title Настройки безопасности

    +b.SECTION.lk-section
      //
      +b.form
        +e.row
          +e.LABEL.label Ваш пароль
          +b.INPUT(type="password").field
        +e.row
          +e.LABEL.label Сменить пароль
          +b.INPUT(type="password").field
        +e.row
          +e.LABEL.label Повторите пароль
          +b.INPUT(type="password").field
        +b.BUTTON.btn(class="--gr-accent") Сохранить изменения

    +b.SECTION.lk-section
      //
      include partials/_social-module
      