---
title: Личный кабинет
---

extends layouts/layout-lk

block variables 
  - var pageName = "lk-8"
  
block content

    +b.SECTION.lk-section
      //
      include partials/_lk-info
    +b.SECTION.lk-section
      //
      +b.lk-title-module
        +e.H3.title Обратная связь
        
    +b.SECTION.lk-section
      //
      +b.FORM.form
        +e.row
          +e.LABEL.label Заголовок сообщения
          +b.INPUT(type="text").field
        +e.row
          +e.LABEL.label Выберите тему
          +b.SELECT.field
            option 1
            option 2
        +e.row
          +e.LABEL.label Текст 
          +b.TEXTAREA.field
        
        +e.row(class="--space")
          +b.BUTTON.btn(class="") Отправить


    +b.SECTION.lk-section
      //
      +b.lk-title-module
        +e.H3.title Или свяжитесь с нами другими способами

    +b.SECTION.lk-section
      // begin custom content
      +b.contacts-info
        .container
          +e.row
            +e.col-33
              +b.contacts-item
                +e.icon
                  img(src="img/contacts/men.png", alt="")
                +e.content
                  +e.P.title Менеджер по обучению
                  +e.A(href="tel:72124347282").phone +7 (212) 434 72-82
            +e.col-33
              +b.contacts-item
                +e.icon
                  img(src="img/contacts/fly.png", alt="")
                +e.content
                  +e.P.title Мы в соцсетях
                  p Telegram: <a href="#" target="_blank">luxlifeclub</a>
                  p FB: <a href="https://facebook.com/llc" target="_blank">facebook.com/llc</a>
                  p VK: <a href="https://vk.com/llc" target="_blank">vk.com/llc</a>
            +e.col-33
              +b.contacts-item
                +e.icon
                  img(src="img/contacts/map.png", alt="")
                +e.content
                  +e.P.title Наш адрес
                  p.
                    <span class="color-accent">ул. Айманова, 126<span>
                    Алматы, Казахстан 
                    Офис 403, 4 этаж.
    +b.SECTION.lk-section
      //
      include partials/_social-module