---
title: Личный кабинет
---

extends layouts/layout-lk

block variables 
  - var pageName = "lk-9"
  
block content

    +b.SECTION.lk-section
      //
      include partials/_lk-info
    +b.SECTION.lk-section
      //
      +b.lk-title-module
        +e.H3.title Акционеры
        
    +b.SECTION.lk-section
      //
      +b.shareholders
        +e.row
          +e.col
            +b.shareholder
              +e.icon
                img(src="img/icons/shareholder-1.svg", alt="")
              +e.content
                p Оборот компании в Феврале 2020 г.
              +e.P.price 120 918 у.е.
              +e.bottom
                p Ваша прибыль за этот месяц:
                +e.P.price-bottom 1 048 у.е.
          +e.col
            +b.shareholder
              +e.icon
                img(src="img/icons/shareholder-2.svg", alt="")
              +e.content
                p Оборот компании за все время
              +e.P.price 819 761 у.е.
              +e.bottom
                p Ваша прибыль за весь период:
                +e.P.price-bottom 1 048 у.е.
    
    +b.SECTION.lk-section
      //
      include partials/_social-module