---
title: О компании
---

extends layouts/_layout
include partials/_footer
include partials/_header

block variables 
  - var pageName = "page-1"
  
block content
  +header()
  
  //
  +b.SECTION.section
    .container

      +b.breadcrumbs
        a(href="page-index.html") Главная
        +e.separator / 
        span О компании


      // begin custom content
      
      +b.intro-module
        +e.block
          +e.H3.title Lux Life Club (LLC)<br> 
            span.gr-accent ЭТО
          +e.content
            p место встречи глобально мыслящих<br> профессионалов своего дела
    
      +b.intro-text
        p Деятельность компаний сфокусирована вокруг двух основных направлений: знание и практика. В LLC ценится желание делиться знаниями, создавать что-то новое и сделать невозможное возможным.

  +b.SECTION.icons-section.section
    .container
      +e.row
        +e.col
          +b.advantages-item
            +e.icon
              img(src="img/icon.gif", data-src="img/icons/001-employee.svg", alt="")
            +e.P.title Профессии
            +e.desc
              p Качественное, доступное образование по мировым трендам, стоимостью от $200 до $5000 со скидкой 90%.
        +e.col
          +b.advantages-item
            +e.icon
              img(src="img/icon.gif", data-src="img/icons/004-bar-chart.svg", alt="")
            +e.P.title Фин. грамотность
            +e.desc
              p Увеличение финансовой грамотности и вашего дохода, обучение без воды.
        +e.col
          +b.advantages-item
            +e.icon
              img(src="img/icon.gif", data-src="img/icons/002-creative.svg", alt="")
            +e.P.title Продажи
            +e.desc
              p Ведение переговоров, искусство продаж, ораторское искусство. Обучение от самых лучших спикеров в своей отрасли.
        +e.col
          +b.advantages-item
            +e.icon
              img(src="img/icon.gif", data-src="img/icons/005-gym.svg", alt="")
            +e.P.title ЗОЖ
            +e.desc
              p Правильное питание и здоровый образ жизни. Консультаций от высокооплачиваемых тренеров и диетологов.

  +b.SECTION.target(class="skew-r").section
    .container
      +e.row
        +e.media
          img(src="img/target/target-pic-thrumb.gif" data-src="img/target/target-pic.png", alt="")
        +e.content
          +b.H3.title
            small.gr-accent Миссия 
            | Lux Life Club
          +e.text
            p взращивать новое поколение профессионалов своего дела в разных отраслях, которые будут всегда востребованы и высокооплачиваемы за свои услуги.
  
  +b.SECTION.about(class="skew-r").section
    .container
      +e.row
        +e.col
          +e.text
            p LLC – компания, которая дает простому народу возможность освоить около 30-ти самых востребованных и высокооплачиваемых профессий 21 века . Все знают – теория без практики – обучение на ветер. Уникальность в методике обучения наших курсов предполагает моментальное применение полученных знаний на практике.
        +e.col
          +b.professions
            #tag-cloud
      +b.reviews
        +b.H3.title
          small.gr-accent Отзывы 
          | Наших клиентов
        +e.row
          +e.col
            +b.A(href="https://youtu.be/REBuXEWwUME").review-block(class="--video").js-modal
              img(src="img/reviews/pic.png" data-src="img/reviews/pic.png", alt="")
          +e.col
            +b.A(href="https://youtu.be/REBuXEWwUME").review-block(class="--video").js-modal
              img(src="img/reviews/pic.png" data-src="img/reviews/pic.png", alt="")
        +e.buttons.buttons
          +b.A(href="#" class="btn --border-gray") Смотреть все отзывы

  //
  +b.bottom-skew
    +e.decor
    +b.SECTION.form-section.section
        .container
          form
            +e.block
              +e.H3.title.gr-accent Вступайте в LuxLife Club!
              +e.desc
                p Просто заполните эту форму и наши консультанты перезвонят Вам!
              +e.row
                +b.field-row
                  +e.LABEL.name Ваше имя:
                  +b.INPUT(type="text" class="field --white")
                +b.field-row
                  +e.LABEL.name E-mail:
                  +b.INPUT(type="email" class="field --white --error")
                +b.field-row
                  +e.LABEL.name Телефон:
                  +b.INPUT(type="text" class="field --white")
                // btn--disabled
                +b.BUTTON.btn(class="--gr-accent") Отправить
    +footer()

block scripts
  script(defer src='js/vendor.js')
  script(type="text/javascript" src="js/app.js")
  script(type="text/javascript" src="js/about.js")