---
title: FAQ
---

extends layouts/_layout
include partials/_footer
include partials/_header

block variables 
  - var pageName = "page-3"
  
block content
  +header()
  
  //
  +b.SECTION.section
    .container
      //
      +b.breadcrumbs
        a(href="page-index.html") Главная
        +e.separator / 
        span FAQ
      //
      +b.page-title
        h3.title FAQ
        +b.decoration-title
          h4.gr-accent Отвечаем на вопросы
  
    +b.faq
      .container
        +b.faq-answers.js-accordion
          +e.block
            +e.H4.title 
              span Что такое платформа?
            +e.content
              .typography
                p Чтобы стать SEO-оптимизатором, не нужно заканчивать вуз. Достаточно пройти специализированный курс, рассчитанный на несколько месяцев. Некоторые специалисты и вовсе учатся по книгам, вебинарам и статьям в интернете. Необходимый минимум — это знание основ HTML-верстки и основных систем управления, аналитических программ и пакетов инструментов для оптимизации. «Поисковики» не разглашают свои алгоритмы выдачи ответов и чуть ли не ежедневно вносят в них изменения, поэтому SEO должен все время «держать нос по ветру». Ему рекомендуют отводить на самообразование не менее часа рабочего времени в день.
                p Чтобы стать SEO-оптимизатором, не нужно заканчивать вуз. Достаточно пройти специализированный курс, рассчитанный на несколько месяцев. Некоторые специалисты и вовсе учатся по книгам, вебинарам и статьям в интернете. Необходимый минимум — это знание основ HTML-верстки и основных систем управления, аналитических программ и пакетов инструментов для оптимизации. «Поисковики» не разглашают свои алгоритмы выдачи ответов и чуть ли не ежедневно вносят в них изменения, поэтому SEO должен все время «держать нос по ветру». Ему рекомендуют отводить на самообразование не менее часа рабочего времени в день. Чтобы стать SEO-оптимизатором, не нужно заканчивать вуз. Достаточно пройти специализированный курс, рассчитанный на несколько месяцев. Некоторые специалисты и вовсе учатся по книгам, вебинарам и статьям в интернете. Необходимый минимум — это знание основ HTML-верстки и основных систем управления, аналитических программ и пакетов инструментов для оптимизации. «Поисковики» не разглашают свои алгоритмы выдачи ответов и чуть ли не ежедневно вносят в них изменения, поэтому SEO должен все время «держать нос по ветру». Ему рекомендуют отводить на самообразование не менее часа рабочего времени в день.
                p Чтобы стать SEO-оптимизатором, не нужно заканчивать вуз. Достаточно пройти специализированный курс, рассчитанный на несколько месяцев. Некоторые специалисты и вовсе учатся по книгам, вебинарам и статьям в интернете. Необходимый минимум — это знание основ HTML-верстки и основных систем управления, аналитических программ и пакетов инструментов для оптимизации. «Поисковики» не разглашают свои алгоритмы выдачи ответов и чуть ли не ежедневно вносят в них изменения, поэтому SEO должен все время «держать нос по ветру». Ему рекомендуют отводить на самообразование не менее часа рабочего времени в день. Чтобы стать SEO-оптимизатором, не нужно заканчивать вуз. Достаточно пройти специализированный курс, рассчитанный на несколько месяцев. Некоторые специалисты и вовсе учатся по книгам, вебинарам и статьям в интернете. Необходимый минимум — это знание основ HTML-верстки и основных систем управления, аналитических программ и пакетов инструментов для оптимизации. «Поисковики» не разглашают свои алгоритмы выдачи ответов и чуть ли не ежедневно вносят в них изменения, поэтому SEO должен все время «держать нос по ветру». Ему рекомендуют отводить на самообразование не менее часа рабочего времени в день.
                p Чтобы стать SEO-оптимизатором, не нужно заканчивать вуз. Достаточно пройти специализированный курс, рассчитанный на несколько месяцев. Некоторые специалисты и вовсе учатся по книгам, вебинарам и статьям в интернете. Необходимый минимум — это знание основ HTML-верстки и основных систем управления, аналитических программ и пакетов инструментов для оптимизации. «Поисковики» не разглашают свои алгоритмы выдачи ответов и чуть ли не ежедневно вносят в них изм
                        
          +e.block
            +e.H4.title 
              span Как зарегистрироваться?
            +e.content
              .typography
                p Чтобы стать SEO-оптимизатором, не нужно заканчивать вуз. Достаточно пройти специализированный курс, рассчитанный на несколько месяцев. Некоторые специалисты и вовсе учатся по книгам, вебинарам и статьям в интернете. Необходимый минимум — это знание основ HTML-верстки и основных систем управления, аналитических программ и пакетов инструментов для оптимизации. «Поисковики» не разглашают свои алгоритмы выдачи ответов и чуть ли не ежедневно вносят в них изменения, поэтому SEO должен все время «держать нос по ветру». Ему рекомендуют отводить на самообразование не менее часа рабочего времени в день.

          +e.block
            +e.H4.title 
              span Как начать проходить обучение?
            +e.content
              .typography
                p Чтобы стать SEO-оптимизатором, не нужно заканчивать вуз. Достаточно пройти специализированный курс, рассчитанный на несколько месяцев. Некоторые специалисты и вовсе учатся по книгам, вебинарам и статьям в интернете. Необходимый минимум — это знание основ HTML-верстки и основных систем управления, аналитических программ и пакетов инструментов для оптимизации. «Поисковики» не разглашают свои алгоритмы выдачи ответов и чуть ли не ежедневно вносят в них изменения, поэтому SEO должен все время «держать нос по ветру». Ему рекомендуют отводить на самообразование не менее часа рабочего времени в день.

          +e.block
            +e.H4.title 
              span Какие вы даете гарантии?
            +e.content
              .typography
                p Чтобы стать SEO-оптимизатором, не нужно заканчивать вуз. Достаточно пройти специализированный курс, рассчитанный на несколько месяцев. Некоторые специалисты и вовсе учатся по книгам, вебинарам и статьям в интернете. Необходимый минимум — это знание основ HTML-верстки и основных систем управления, аналитических программ и пакетов инструментов для оптимизации. «Поисковики» не разглашают свои алгоритмы выдачи ответов и чуть ли не ежедневно вносят в них изменения, поэтому SEO должен все время «держать нос по ветру». Ему рекомендуют отводить на самообразование не менее часа рабочего времени в день.
  
          +e.block
            +e.H4.title 
              span Как зарегистрироваться?
            +e.content
              .typography
                p Чтобы стать SEO-оптимизатором, не нужно заканчивать вуз. Достаточно пройти специализированный курс, рассчитанный на несколько месяцев. Некоторые специалисты и вовсе учатся по книгам, вебинарам и статьям в интернете. Необходимый минимум — это знание основ HTML-верстки и основных систем управления, аналитических программ и пакетов инструментов для оптимизации. «Поисковики» не разглашают свои алгоритмы выдачи ответов и чуть ли не ежедневно вносят в них изменения, поэтому SEO должен все время «держать нос по ветру». Ему рекомендуют отводить на самообразование не менее часа рабочего времени в день.
                
          +e.block
            +e.H4.title 
              span Как начать проходить обучение?
            +e.content
              .typography
                p Чтобы стать SEO-оптимизатором, не нужно заканчивать вуз. Достаточно пройти специализированный курс, рассчитанный на несколько месяцев. Некоторые специалисты и вовсе учатся по книгам, вебинарам и статьям в интернете. Необходимый минимум — это знание основ HTML-верстки и основных систем управления, аналитических программ и пакетов инструментов для оптимизации. «Поисковики» не разглашают свои алгоритмы выдачи ответов и чуть ли не ежедневно вносят в них изменения, поэтому SEO должен все время «держать нос по ветру». Ему рекомендуют отводить на самообразование не менее часа рабочего времени в день.
                
          +e.block
            +e.H4.title 
              span Какие вы даете гарантии?
            +e.content
              .typography
                p Чтобы стать SEO-оптимизатором, не нужно заканчивать вуз. Достаточно пройти специализированный курс, рассчитанный на несколько месяцев. Некоторые специалисты и вовсе учатся по книгам, вебинарам и статьям в интернете. Необходимый минимум — это знание основ HTML-верстки и основных систем управления, аналитических программ и пакетов инструментов для оптимизации. «Поисковики» не разглашают свои алгоритмы выдачи ответов и чуть ли не ежедневно вносят в них изменения, поэтому SEO должен все время «держать нос по ветру». Ему рекомендуют отводить на самообразование не менее часа рабочего времени в день.
                
          +e.block
            +e.H4.title 
              span Как зарегистрироваться?
            +e.content
              .typography
                p Чтобы стать SEO-оптимизатором, не нужно заканчивать вуз. Достаточно пройти специализированный курс, рассчитанный на несколько месяцев. Некоторые специалисты и вовсе учатся по книгам, вебинарам и статьям в интернете. Необходимый минимум — это знание основ HTML-верстки и основных систем управления, аналитических программ и пакетов инструментов для оптимизации. «Поисковики» не разглашают свои алгоритмы выдачи ответов и чуть ли не ежедневно вносят в них изменения, поэтому SEO должен все время «держать нос по ветру». Ему рекомендуют отводить на самообразование не менее часа рабочего времени в день.
                
          +e.block
            +e.H4.title 
              span Как начать проходить обучение?
            +e.content
              .typography
                p Чтобы стать SEO-оптимизатором, не нужно заканчивать вуз. Достаточно пройти специализированный курс, рассчитанный на несколько месяцев. Некоторые специалисты и вовсе учатся по книгам, вебинарам и статьям в интернете. Необходимый минимум — это знание основ HTML-верстки и основных систем управления, аналитических программ и пакетов инструментов для оптимизации. «Поисковики» не разглашают свои алгоритмы выдачи ответов и чуть ли не ежедневно вносят в них изменения, поэтому SEO должен все время «держать нос по ветру». Ему рекомендуют отводить на самообразование не менее часа рабочего времени в день.
          +e.block
            +e.H4.title 
              span Какие вы даете гарантии?
            +e.content
              .typography
                p Чтобы стать SEO-оптимизатором, не нужно заканчивать вуз. Достаточно пройти специализированный курс, рассчитанный на несколько месяцев. Некоторые специалисты и вовсе учатся по книгам, вебинарам и статьям в интернете. Необходимый минимум — это знание основ HTML-верстки и основных систем управления, аналитических программ и пакетов инструментов для оптимизации. «Поисковики» не разглашают свои алгоритмы выдачи ответов и чуть ли не ежедневно вносят в них изменения, поэтому SEO должен все время «держать нос по ветру». Ему рекомендуют отводить на самообразование не менее часа рабочего времени в день.

  //
  +b.SECTION.form-section.section
    .container
      h3.title Остались вопросы? задайте их нам!
      form
        +e.block(class="--gradient")
          +e.row
            +b.field-row
              +e.LABEL.name Ваше имя:
              +b.INPUT(type="text" class="field")
            +b.field-row
              +e.LABEL.name E-mail:
              +b.INPUT(type="email" class="field --error")
            +b.field-row
              +e.LABEL.name Телефон:
              +b.INPUT(type="text" class="field")
          +e.row
            +b.field-row(class="--textarea")
              +b.TEXTAREA(class="field") Текст вопроса
          +e.row
            // btn--disabled
            +b.BUTTON.btn(class="--gr-gray") Задать вопрос
  //
  +b.bottom-skew
    +e.decor
    +b.SECTION.form-section.section
        .container
          form
            +e.block
              +e.H3.title.gr-accent Вступайте в LuxLife Club!
              +e.desc
                p Просто заполните эту форму и наши консультанты перезвонят Вам!
              +e.row
                +b.field-row
                  +e.LABEL.name Ваше имя:
                  +b.INPUT(type="text" class="field --white")
                +b.field-row
                  +e.LABEL.name E-mail:
                  +b.INPUT(type="email" class="field --white --error")
                +b.field-row
                  +e.LABEL.name Телефон:
                  +b.INPUT(type="text" class="field --white")
                // btn--disabled
                +b.BUTTON.btn(class="--gr-accent") Отправить
    +footer()