---
title: Портал дистанционного цифрового дополнительного образования Белгородской области
---
extends layouts/_layout
include partials/_header
include partials/_footer

block variables 
  - var pageName = "page-index"

block content
  //
  +header()
  //
  mixin category(link, src, name)
    +b.A(href=link).category-item
      +e.icon
        img(src=src, alt="")
      span name

  +b.SECTION.intro.section
    .container
      +e.row
        +e.UL.list
          +e.LI
            +category('#', 'img/icons/pencil.svg', 'Художественная направленность')
          +e.LI
            +category('#', 'img/icons/architecture.svg', 'Техническая направленность')
          +e.LI
            +category('#', 'img/icons/team.svg', 'Социально-педагогическая направленность')
          +e.LI
            +category('#', 'img/icons/strategy.svg', 'Физкультурно-спортивная направленность')
          +e.LI
            +category('#', 'img/icons/flasks.svg', 'Естественнонаучная направленность')
          +e.LI
            +category('#', 'img/icons/trip.svg', 'Туристско-краеведческая направленность')
        +e.image
          img(src="img/intro/lion.png", alt="")
  
  +b.SECTION.content-and-media.section
    .container
      +e.row(class="--media-comment")
        +e.media
          +e.comment
            p Любой желающий может записаться на курсы дистанционного цифрового образования, вести дневник обучения, просматривать занятия, видеть результаты и достижения.
          img(src="img/main/lion.png", alt="")
        +e.content
          .typography
            h3 Туристско-краеведческая направленность
            p cпособствует всестороннему развитию личности ребенка, направлена на совершенствование его интеллектуального, духовного и физического потенциала; способствует изучению родной страны и ее исторического и культурного наследия, приобретению навыков проектной деятельности, развитию самостоятельности, выносливости, познавательных процессов; получению опыта работы в коллективе и социализации в обществе, безопасного общения с природной средой.
      +e.row(class="--media-right")
        +e.media
          img(src="img/main/lion.png", alt="")
        +e.content
          .typography
            h3 Естественнонаучная направленность
            p ориентирована на становление у детей и молодежи научного мировоззрения, освоение методов познания мира.  Дети учатся находить и обобщать нужную информацию, действовать в нестандартных ситуациях, работать в команде, получают навыки критического восприятия информации, развивают способность к творчеству, наблюдательность, любознательность, изобретательность.
      +e.row
        +e.media
          img(src="img/main/lion.png", alt="")
        +e.content
          .typography
            h3 Физкультурно-спортивная направленность
            p обеспечивает развитие не только физических способностей, но и таких качеств детей, как благородство, рассудительность, честность, доброта, вежливость; а также воспитание чувства патриотизма, уважения друг к другу и к старшим.
      +e.row(class="--media-right")
        +e.media
          img(src="img/main/lion.png", alt="")
        +e.content
          .typography
            h3 Художественная направленность
            p играет важную роль в личностном развитии детей, оказывает позитивное воздействие на эмоциональную сферу ребенка, развивает его воображение, творческое мышление, формирует нравственное самосознание. Выбирая художественную направленность, дети выбирают свободу выражения, полет фантазии, преодолевают застенчивость, скованность,  соприкасаются с достижениями мировой цивилизации, а значит - поднимают свой культурный уровень.
      +e.row
        +e.media
          img(src="img/main/lion.png", alt="")
        +e.content
          .typography
            h3 Техническая направленность
            p ориентирована на развитие интереса детей к инженерно-техническим и информационным технологиям, научно-исследовательской и конструкторской деятельности. Обучение по программам технической направленности способствует развитию технических и творческих способностей, формированию логического мышления, умения анализировать и конструировать.
      +e.row(class="--media-right")
        +e.media
          img(src="img/main/lion.png", alt="")
        +e.content
          .typography
            h3 Социально-педагогическая направленность
            p основные задачи программ данной направленности: духовно- нравственное и гражданско-патриотическое воспитание, социальная адаптация, развитие патриотических чувств, раскрытие творческого потенциала детей.

  +footer()