---
title: Контакты
---
extends layouts/_layout
include partials/_footer
include partials/_header

block variables 
  - var pageName = "page-4"

block content
  +header()
  
  //
  +b.SECTION.section
    .container

      +b.breadcrumbs
        a(href="page-index.html") Главная
        +e.separator / 
        span Контакты

      +b.page-title
        h3.title Контакты
        +b.decoration-title
          h4.gr-accent Свяжитесь с нами!
  
    // begin custom content
    +b.contacts-info
      .container
        +e.row
          +e.col
            +b.contacts-item
              +e.icon
                img(src="img/contacts/men.png", alt="")
              +e.content
                +e.P.title Менеджер по обучению
                a(href="tel:72124347282") +7 (212) 434 72-82
          +e.col
            +b.contacts-item
              +e.icon
                img(src="img/contacts/fly.png", alt="")
              +e.content
                +e.P.title Мы в соцсетях
                p Telegram: <a href="#" target="_blank">luxlifeclub</a>
                p FB: <a href="#" target="_blank">facebook.com/llc</a>
                p VK: <a href="#" target="_blank">vk.com/llc</a>
    
    +b.map
      .container
        +e.block#map
        +e.desc
          p Наш адрес:
          p ул. Айманова, 126, (угол с ул. Абая) Алматы 050000, Казахстан
          p Офис 403, 4 этаж.
    
    .container
      +b.hr-decoration
        span
          img(src="img/decor/form-desc-before.png", alt="")
    
    +b.contacts-form
      .container
        +e.H3.title Не смогли с нами связаться?
        +e.desc
          p Введите данные ниже и мы с вами свжемся в ближайшее время
        form
          +e.row
            +b.field-row
              +e.LABEL.name ФИО:
              +b.INPUT(type="text" class="field" placeholder="Введите ФИО")
            +b.field-row
              +e.LABEL.name Телефон:
              +b.INPUT(type="text" class="field" placeholder="Введите номер телефона")
            +b.BUTTON.btn(class="--gr-gray") Отправить запрос

  //
  +b.bottom-skew
    +e.decor
    +b.SECTION.form-section.section
        .container
          form
            +e.block
              +e.H3.title.gr-accent Вступайте в LuxLife Club!
              +e.desc
                p Просто заполните эту форму и наши консультанты перезвонят Вам!
              +e.row
                +b.field-row
                  +e.LABEL.name Ваше имя:
                  +b.INPUT(type="text" class="field --white")
                +b.field-row
                  +e.LABEL.name E-mail:
                  +b.INPUT(type="email" class="field --white --error")
                +b.field-row
                  +e.LABEL.name Телефон:
                  +b.INPUT(type="text" class="field --white")
                +b.BUTTON.btn(class="--gr-accent") Отправить
    +footer()