---
title: LuxLife Club
---
extends layouts/_layout
include partials/_footer
block content

  +b.SECTION.advantages(class="skew-l")
    .container
      +b.H3.title
        small 
          span.gr-diagonal Наши 
        span.gr-accent преимущества
      +e.row
        +e.col
          +b.advantages-item
            +e.icon
              img(src="img/icon.gif", data-src="img/icons/001-employee.svg", alt="")
            +e.P.title Профессии
            +e.desc
              p Качественное, доступное образование по мировым трендам, стоимостью от $200 до $5000 со скидкой 90%.
        +e.col
          +b.advantages-item
            +e.icon
              img(src="img/icon.gif", data-src="img/icons/004-bar-chart.svg", alt="")
            +e.P.title Фин. грамотность
            +e.desc
              p Увеличение финансовой грамотности и вашего дохода, обучение без воды.
        +e.col
          +b.advantages-item
            +e.icon
              img(src="img/icon.gif", data-src="img/icons/002-creative.svg", alt="")
            +e.P.title Продажи
            +e.desc
              p Ведение переговоров, искусство продаж, ораторское искусство. Обучение от самых лучших спикеров в своей отрасли.
        +e.col
          +b.advantages-item
            +e.icon
              img(src="img/icon.gif", data-src="img/icons/005-gym.svg", alt="")
            +e.P.title ЗОЖ
            +e.desc
              p Правильное питание и здоровый образ жизни. Консультаций от высокооплачиваемых тренеров и диетологов.
      +b.buttons
        +b.A(href="#" class="btn --border-gray --white") Подробнее о нас
  
  +b.SECTION.how-work(class="skew-r").section
    .container
      +e.row
        +e.col-l
        +e.col-r
          +b.H3.title
            small Как это 
            | работает?
      +e.row
        +e.col-l
          +b.UL.dark-list
            li У нас может обучаться любой человек из любой точки мира  
            li Самые востребованные и иновационные профессии  
            li Применяйте последние технологий для продвижения вашего бизнеса  
            li Наши навыки нужны абсолютно всем: от школьников до крупных инвесторов
        +e.col-r
          +b.A(href="https://youtu.be/REBuXEWwUME").dark-video.js-modal
            img(src="img/how-work/video.gif", data-src="img/how-work/video.jpg", alt="")
      +e.row
        +e.col-l
          +b.sign-module
            +e.P.desc Прямо сейчас
            +e.P.title Запишитесь 
              span.
                на бесплатную 
                консультацию!
            +e.buttons
              +b.A(href="#", class="btn --black") Записаться
        +e.col-r
  
  +b.SECTION.target.section
    .container
      +e.row
        +e.media
          img(src="img/target/target-pic-thrumb.gif" data-src="img/target/target-pic.png", alt="")
        +e.content
          +b.H3.title
            small.gr-accent цель 
            | Lux Life Club
          +e.text
            p ДАТЬ СЖАТОЕ, КАЧЕСТВЕННОЕ И СОВРЕМЕННОЕ ОБРАЗОВАНИЕ ЗА ДОСТУПНУЮ ЦЕНУ И ЗА КОРОТКИЙ ПЕРИОД, В СООТВЕТСТВИИ С МИРОВЫМИ ТРЕНДАМИ

  +b.SECTION.problems(class="skew-r").section
    .container
      +b.H3.title
        small.gr-accent Какие 
        small.gr-accent проблемы  
        | Мы решаем?
      +e.row
        +e.col
          +b.card-block
            +e.icon
              img(src="img/icon.gif", data-src="img/icons/care.svg", alt="")
            +e.P.title ЗДОРОВЬЕ
            +e.desc
              p Большая часть населения не имеют достаточного времени и денег, чтобы следить за здоровьем
        +e.col
          +b.card-block
            +e.icon
              img(src="img/icon.gif", data-src="img/icons/money.svg", alt="")
            +e.P.title ДОЛГОВАЯ ЯМА
            +e.desc
              p Неправильное мышление, отсутствие идеи и не видят четких направлений для создания благополучия
        +e.col
          +b.card-block
            +e.icon
              img(src="img/icon.gif", data-src="img/icons/employee.svg", alt="")
            +e.P.title ПРОФЕССИОНАЛИЗМ 
            +e.desc
              p 95% люди не владеют искусством продаж и боятся выступать публично
        +e.col
          +b.card-block
            +e.icon
              img(src="img/icon.gif", data-src="img/icons/analysis.svg", alt="")
            +e.P.title ФИНАНСОВАЯ НЕГРАМОТНОСТЬ 
            +e.desc
              p Финансово не грамотны, не умеют правильно распоряжаться деньгами
        +e.col
          +b.card-block
            +e.icon
              img(src="img/icon.gif", data-src="img/icons/internet.svg", alt="")
            +e.P.title ИНСТРУМЕНТЫ
            +e.desc
              p Не применяют современные тренды продвижения бизнеса в интернете 
        +e.col
          +b.card-block
            +e.icon
              img(src="img/icon.gif", data-src="img/icons/robber.svg", alt="")
            +e.P.title ПОТЕРЯ ДЕНЕГ
            +e.desc
              p Не знают куда инвестировать, не умеют выбирать нишу для нужных навыков и инвестирования, теряют деньги в разных мошеннических схемах, остаются в долгах
  
  +b.SECTION.percent-section.section
    .container
      +e.row
        +e.text
          p Не работают по своей специальности
        +e.P.count 86%
        +e.text
          p выпускников образовательных вузов
  
  +b.SECTION.reviews.section
    .container
      +b.H3.title
        small.gr-accent Отзывы 
        | Наших клиентов
      +e.row
        +e.col
          +b.A(href="https://youtu.be/REBuXEWwUME").review-block(class="--video").js-modal
            img(src="img/reviews/pic.png" data-src="img/reviews/pic.png", alt="")
        +e.col
          +b.A(href="https://youtu.be/REBuXEWwUME").review-block(class="--video").js-modal
            img(src="img/reviews/pic.png" data-src="img/reviews/pic.png", alt="")
        +e.col
          +b.A(href="https://youtu.be/REBuXEWwUME").review-block(class="--video").js-modal
            img(src="img/reviews/pic.png" data-src="img/reviews/pic.png", alt="")
        +e.col
          +b.A(href="https://youtu.be/REBuXEWwUME").review-block(class="--video").js-modal
            img(src="img/reviews/pic.png" data-src="img/reviews/pic.png", alt="")
      +e.buttons.buttons
        +b.A(href="#" class="btn --border-gray") Смотреть все отзывы
  
  +b.bottom-skew
    +e.decor
    +b.SECTION.well-being.section
      .container
        +b.H3.title
          small Lux Life Club - это путь 
          span.gr-accent к вашему благополучию!
        +e.row
          +e.col
            +b.circle-item
              +e.icon
                img(src="img/icon.gif", data-src="img/icons/research.svg", alt="")
              +e.desc
                p Освой более 10 самых<br> востребованных<br> профессий 21 века!
          +e.col
            +b.circle-item
              +e.icon
                img(src="img/icon.gif", data-src="img/icons/education.svg", alt="")
              +e.desc
                p Прокачай свою<br> финансовую грамотность<br> в LuxLife Club!
          +e.col
            +b.circle-item
              +e.icon
                img(src="img/icon.gif", data-src="img/icons/bars.svg", alt="")
              +e.desc
                p Пробей свой финансовый<br> потолок и реши главные<br> денежные проблемы за 3 мес.
    
    +b.SECTION.form-section.section
        .container
          form
            +e.block
              +e.H3.title.gr-accent Вступайте в LuxLife Club!
              +e.desc
                p Просто заполните эту форму и наши консультанты перезвонят Вам!
              +e.row
                +b.field-row
                  +e.LABEL.name Ваше имя:
                  +b.INPUT(type="text" class="field --white")
                +b.field-row
                  +e.LABEL.name E-mail:
                  +b.INPUT(type="email" class="field --white --error")
                +b.field-row
                  +e.LABEL.name Телефон:
                  +b.INPUT(type="text" class="field --white")
                // btn--disabled
                +b.BUTTON.btn(class="--gr-accent") Отправить
    +footer()