---
title: LuxLife Club
---
extends layouts/_layout
block variables 
  - var pageName = "auth"

block content
  +b.auth
    +e.col(class="--left")
      +e.col-content
        +b.auth-module
          +e.H3.title Забыли пароль?
          form

            +b.field-row
              +e.LABEL.name Ваш логин или e-mail
              +b.INPUT(type="text" class="field" placeholder="Введите логин")

            +b.BUTTON.btn(class="--gr-accent-2") Отправить код восстановления на e-mail
      
    +e.col(class="--right")
      +e.col-content
        +e.A(href="page-index.html").logo
          img(src="img/logo/logo.png", alt="")
        +e.content
          +e.H1.title Восстановление пароля
          +e.desc
            p Заполните форму и мы вышлем данные для восстановления на указанный при регистрации e-mail
        +e.UL.links
          li
            a(href="page-index.html") Главная
          li
            a(href="reg.html") Регистрация
          li
            a(href="#") Нужна помощь?