---
title: eWallet
---
extends layouts/_layout

block variables 
    - var pageName = "remind"

block content

  +b.modal.active#remind
    +e.header
      
      +e.A(href="page-index.html" class="logo")
        img(src="img/logo.png", alt="e-wallet")
      
      include partials/_language
      
      +b.top-buttons
        p Don't have a wallet?
        a(href="signup.html" class="color-accent") Create one now

    +b.gr-block
      +e.content
        form
          +e.H3.title Wallet Password Reminder

          +b.field(class="--white")
            label Your e-mail
            input(type="text")
          
          +b.field
              p Follow the instructions on your E-mail.

          +e.buttons
              +b.BUTTON(class="btn --white --icon --small-radius")
                img(src="img/icons/check.svg", alt="")
                span Remind password
      +e.bottom
        ul
          li
            a(href="page-index.html") Home page
        
        ul
          li
            a(href="signup.html") Don’t have a wallet?

    +e.footer
      .container
        +e.P.copyright © 2019 E-wallet.io. All rights reserved.
        a(href="policy.html") Private policy