// gradients
.gr-accent {
    background-image: linear-gradient(to top, #bf8120 0%, #fccf7b 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #be801e;
}

.gr-white {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(200, 200, 200, 1) 50%, rgba(200, 200, 200, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #c8c8c8;
}

.gr-diagonal {
    background-image: linear-gradient(167deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(199, 139, 43, 1) 50%, rgba(199, 139, 43, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #c8c8c8;
}

// ie
.ie11,
.ie10 {
    .gr-accent {
        background-image: none;
        color: #ebb95d;
        -webkit-text-fill-color: inherit;
    }
    .gr-white,
    .gr-diagonal {
        background-image: none;
        color: #fff;
        -webkit-text-fill-color: inherit;
    }
}

$skewDeg: 11.75deg;
$skewMargin: 10.5%;
.skew-l {
    transform: skewY(-$skewDeg);
    transform-origin: top;
    margin-top: -$skewMargin;
    .container {
        transform: skewY($skewDeg);
    }
}

.skew-r {
    transform: skewY($skewDeg);
    transform-origin: top;
    padding: 32% 0 10%;
    margin-top: -21%;
    .container {
        transform: skewY(-$skewDeg);
    }
}

.bottom-skew {
    color: #fff;
    margin-top: 3%;
    position: relative;
    overflow: hidden;
    padding-top: 10.8%;
    margin-top: -2.2%;
    section,
    footer {
        position: relative;
        z-index: 2;
    }
    &__decor {
        transform: skewY(-$skewDeg);
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin-top: $skewMargin;
        overflow: hidden;
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            background: url('../img/well-being/bg.jpg') center no-repeat #000;
            background-size: cover;
            transform: skewY($skewDeg);
            margin-top: -$skewMargin;
        }
    }
}

//
.language-module {
    position: relative;
    $parent: &;
    &__dropdown {
        position: absolute;
        top: 100%;
        left: -1px;
        width: calc(100% + 2px);
        visibility: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: all .3s ease;
        a {
            width: 100%;
            padding: 5px;
            display: block;
            border: solid 1px #fff;
            color: #fff !important;
            margin-bottom: -1px;
            &:hover {
                background: $color-4;
                color: #000 !important;
            }
        }
        // display: none;
    }
    &:hover {
        #{$parent}__dropdown {
            opacity: 1;
            visibility: visible;
            transform: none;
        }
    }
}

//
.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -10px;
    .btn {
        margin: 10px;
    }
}