.color-accent {
    color: $color-1;
}

.color-gray {
    color: #6f6f6f;
}

.gr-blue {
    background-color: #00d1a2;
    background: linear-gradient(-185deg, #00cad1 0%, #00cad1 1%, #0055a5 91%, #0055a5 100%);
}