// Colors
$color-1: #26bbd1

$light: #00b8ca;
$margin: 70px;
$border-color: #ededed;
$notebook: 1600px;
$notebook-sm: 1440px;
$notebook-xs: 1280px;
$tablet: 1160px;
$tablet-sm: 992px;
$mobile: 767px;


// Fonts
$accent-font: 'Comfortaa'
$white: #fff
$main-font: 'NotoSans'
$fz: 15px;