$radius: 5px;

// colors

$color-1: #fff;
$color-2: #bbb;
$color-3: #FFC559;
$color-4: #9f6b1b;

@mixin gr1(){
  background-image: linear-gradient(-138deg, #ac711f 0%, #ac711f 1%, #d5941e 54%, #e09f20 74%, #ffb31f 98%, #ffb31f 100%);
}
@mixin gr2(){
  background-image: linear-gradient(41deg, #ffd88d 0%, #ffbc3f 99%, #ffbc3f 100%);
}

//-----

.color-1 {
    color: #fff;
}

.color-2 {
    color: $color-2;
}

.color-3 {
    color: $color-3;
}

//-----
.team-status{
  display: flex;
  align-items: center;
    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 20px;
        margin-bottom: -5px;
        li {
            margin: 0 9px 5px;
        }

    }

    @include media-breakpoint-down(xs) {
        flex-wrap: wrap;
        justify-content: flex-start;

        p {
            width: 100%;
        }

        ul {
            margin: 10px 0 -5px 0;

            li {
                margin: 0 15px 5px 0;
            }
        }

    }
}

.team-title{
  display: flex;
  align-items: center;
  justify-content: center;
  &__title {
    text-transform: uppercase;
    font-size: 186.67%;
    text-align: center;
    font-weight: 300;
    @include media-breakpoint-down(sm) {
        font-size: 160%;
      
    }
    @include media-breakpoint-down(xs) {
        font-size: 150%;
        text-align: left;
    }
}

// arrow btn
&__level-btn {
    background: transparent;
    padding: 10px;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    justify-content: center;

    svg {
        width: 20px;
        height: 20px;
        fill: $color-2;
        display: block;
    }

    &--up {
        svg {
            transform: rotate(90deg);
        }
    }

    &--down {
        svg {
            transform: rotate(-90deg);
        }
    }

    &:hover {
        svg {
            fill: $black;
        }
    }

}
}
.refferal {
    font-size: 15px;
    .team-title{
      margin: 55px 0 0 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &__section {
        padding: 30px 0;
        border-bottom: 1px solid $color-2;
        position: relative;

        &:last-child {
            border: none;
        }

      
        &--top {
            display: flex;
            align-items: center;
            justify-content: center;
        }


        &--top {
            button {
                margin-left: 20px;
            }
        }
        .team-status{
          position: absolute;
          top: 0;
          left: 0;
        }
        &--content {
          padding-top: 0;
            @include media-breakpoint-down(xs) {
                display: flex;
                flex-direction: column;
            }
        }
    }

    &__scheme {
        // margin-top: -146px;
        .slick-track {
          position: relative;
          left: 0;
          top: 0;
          display: block;
          margin-left: auto;
          margin-right: auto;
      }
        .slick-arrow {
            position: absolute;
            font-size: 0;
            width: 30px;
            height: 20px;
            z-index: 10;
            margin-top: -10px;
            transition: all .2s ease;
            top: 55px;
            opacity: 0;
            visibility: visible;
            z-index: 20;

            &:hover {
                opacity: 1;
            }

            &.slick-disabled {
                opacity: 0;
                visibility: hidden;
            }

            @include media-breakpoint-down(md) {
                opacity: .2;
                visibility: visible;
            }
        }

        .slick-prev {
            left: 0;
            background: url("../icons/arrow.svg") center no-repeat;
            background-size: contain;
            transform: translateX(-10px);
        }

        .slick-next {
            right: 0;
            margin-left: 5px;
            background: url("../icons/arrow.svg") center no-repeat;
            transform: translateX(10px) rotate(180deg);
            background-size: contain;
        }
        .slick-slide{
          overflow: hidden;
        }

        ul {
            // display: flex;
            // justify-content: center;
            text-align: center;
            position: relative;

            &:hover {
                &>.slick-arrow {
                    opacity: 0.5;
                }
            }

            .refferal-item {
                margin: 0 0px 50px;
            }

            // l2
            ul {
              
                li {
                    position: relative;
                    &:after {
                      content: "";
                      display: block;
                      position: absolute;
                      top: 122px;
                      left: 50%;
                      width: 1px;
                      height: 40px;
                      background: $color-2;
                      margin: 0 auto 10px;
                  }
                }

                .refferal-item {
                    font-size: 12px;
                    padding: 12px 20px;
                    width: 250px;
                    margin-bottom: 70px;

                    svg,
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }

                // l3
                ul {
                    margin: 0 auto;
                    width:93.5%;
                    li{
                      &:before {
                        content: "";
                        display: block;
                        width: 1px;
                        height: 10px;
                        background: $color-2;
                        margin: 0 auto 10px;
                    }
                    &:after{
                      display: none;
                    }
                    }
                    .line {
                      display: block;
                      background: $color-2;
                      margin: 0 auto 10px;
                      height: 1px;
                      left: 50%;
                      top: -5px;
                      transform: translateX(-50%);
                      position: absolute;
                  }

                    .slick-arrow{
                      top:47px;
                    }
                    .refferal-item {
                        font-size: 8px;
                        padding: 0;
                        width: auto;
                        background: transparent;
                        flex-direction: column;
                        align-items: flex-start;
                        margin-bottom: 0;
                        $parent: &;

                        &__icon {
                            order: -1;
                            border-radius: $radius;
                            margin: 0 0 10px 0;
                        }

                        &__content {
                            width: 100%;
                        }

                        &__name {
                            margin-bottom: 0px;

                            span {
                                @include truncate(60px);
                                &:last-child{
                                  display: none;
                                }
                            }
                        }
                        &__desc{
                          display: none;
                        }
                        &__info{
                          font-size: 11px;
                          color: #888888 !important;
                          span{
                            @include truncate(60px);
                            &:first-child{
                              display: none;
                            }
                          }
                        }

                        svg {
                            width: 35px;
                            height: 35px;
                        }

                        img {
                            width: 55px;
                            height: 55px;
                        }
                        &--color-1 {
                          .refferal-item__icon {
                          background: $color-1;
                  
                          svg {
                              fill: #aeaeae;
                          }
                        }
                      }
                  
                      &--color-2 {
                        .refferal-item__icon {
                        background-image: linear-gradient(41deg, #f0f0f0 0%, #c8c8c8 100%);
                  
                          svg {
                              fill: #aeaeae;
                          }
                        }
                      }
                  
                      &--color-3 {
                        .refferal-item__icon {
                        background-image: linear-gradient(-138deg, #ac711f 0%, #ac711f 1%, #d5941e 54%, #e09f20 74%, #ffb31f 98%, #ffb31f 100%);
                          svg {
                              fill: #fff;
                          }
                        }
                      }
                      &--color-4{
                        .refferal-item__icon {
                        background-image: linear-gradient(41deg, #ffd88d 0%, #ffbc3f 99%, #ffbc3f 100%);
                        svg {
                            fill: #fff;
                        }
                      }
                      }


                    }
                }
            }
        }

        @include media-breakpoint-down(sm) {
            margin-top: 0px;
            

            &>ul>li>ul {
                &>.slick-prev {
                    transform: translateX(0px);
                }

                &>.slick-next {
                    transform: translateX(0px) rotate(180deg);
                }
            }

            ul {
                .refferal-item {
                    margin: 0 0 30px;
                }
            }
        }
    }

    
    
    &__buttons{
      margin: auto -7.5px 35px -7.5px;
      max-width: 35%;
      &>*{
        margin: 7.5px;
      }  
       @include media-breakpoint-down(xs) {
        margin: auto -5px 35px -5px;
        &>*{
          margin: 5px;
        }  
       }
    }
    &__button {
        border: solid 2px $color-2;
        padding: 9px 10px;
        font-size: 14px;
        color: rgba(#000, 0.6);
        position: relative;
        z-index: 5;
        background: transparent;

        &--up, &--search {
            display: inline-flex;
            align-items: center;

            svg {
                transform: rotate(90deg);
                display: block;
                fill: $color-2;
                margin-left: 10px;
            }
        }
        &--search{
          svg{
            transform: rotate(0deg);
          }
        }

        &:hover {
            border-color: $black;
            color: $black;

            svg {
                fill: $black;
            }
        }

        @include media-breakpoint-down(sm) {
         font-size: 13px;
        }
    }

    &__scheme-top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include media-breakpoint-down(md) {
          padding-top: 30px;
        }
        @include media-breakpoint-down(sm) {
          padding-top: 0;
        }
        @include media-breakpoint-down(xs) {
            flex-wrap: wrap;
            width: 100%;
      
            .level-list {
                margin: 30px auto 0;
            }
        }
    }

   
    @include media-breakpoint-down(md) {
      .team-status{
        position: relative;
        margin-bottom: 30px;
      }
      &__scheme-top{
        flex-wrap: wrap;
      }
      .level-list{
        display: none;
      }
      &__buttons{
        max-width: 100%;
        margin-bottom: 0;
      }
      .team-title{
        position: relative;
        transform: none;
        left: 0;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
    
}

//-----

.color-indication {
    display: flex;
    align-items: center;

    &__color {
        width: 15px;
        height: 15px;
        display: block;
        margin-right: 10px;
        flex-shrink: 0;

        &--color-1 {
            background: $color-1;
        }

        &--color-2 {
            background: $color-2;
        }

        &--color-3 {
          background-image: linear-gradient(41deg, #ffd88d 0%, #ffbc3f 99%, #ffbc3f 100%);
        }
        &--color-4 {
          background-image: linear-gradient(-231deg, #fcd07c 0%, #be801e 81%, #be801e 100%);
      }
    }
}

//-----

.refferal-item {
    background: $white;
    padding: 15px 25px;
    border-radius: $radius;
    display: inline-flex;
    align-items: center;
    text-align: left;
    width: 320px;
    $parent: &;
    &__name {
        font-weight: 700;
        font-size: 140%;
        margin-bottom: 5px;

        span {
            display: block;
            @include truncate(100%);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__desc {
        font-size: 113.33%;
        font-weight: 300;
        white-space: nowrap;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
    }
    &__info{
      color:#676767;
      display: flex;
      span{
        margin-right: 20px;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        text-overflow: ellipsis;
        &:last-child{
          margin-right: 0;
        }
      }
    }

    &__content {
        width: calc(100% - 75px);
    }

    &__icon {
        margin-left: 15px;
        flex-shrink: 0;
        border-radius: $radius;
        overflow: hidden;
    }

    svg {
        margin: 10px;
    }

    svg,
    img {
        fill: $color-2;
        width: 60px;
        height: 60px;
        display: block;
    }

    &--color-1 {
        background: $color-1;

        svg {
            fill: #aeaeae;
        }
    }

    &--color-2 {
      background-image: linear-gradient(41deg, #f0f0f0 0%, #c8c8c8 100%);

        svg {
            fill: #fff;
        }
    }

    &--color-3 {
      background-image: linear-gradient(-138deg, #ac711f 0%, #ac711f 1%, #d5941e 54%, #e09f20 74%, #ffb31f 98%, #ffb31f 100%);
        #{$parent}__info{
          color:#000;
        }
        svg {
            fill: #fff;
        }
    }
    &--color-4{
      background-image: linear-gradient(41deg, #ffd88d 0%, #ffbc3f 99%, #ffbc3f 100%);
      svg {
          fill: #fff;
      }
      #{$parent}__info{
        color:#000;
      }
    }

    @include media-breakpoint-down(xs) {
        width: 250px;
        padding: 25px;
        font-size: 12px;

        svg,
        img {
            width: 50px;
            height: 50px;
        }
    }
}

//-----

.level-list {
    font-size: 13px;
    font-weight: 300;
    position: relative;
    z-index: 5;
    font-family: $accent-font;

    &__title{
      text-align: right;
      font-size: 11px;
      color: rgba(#000, 0.5);
    }
    &__price{
      font-weight: 700;
      color:#000;
      margin-left: 15px;
    }
    &__indicator {
        margin-right: 10px;
    }

    &__nmb {
        font-size: 11px;
        border: solid 1px $color-1;
        font-family: $main-font;
        width: 15px;
        height: 15px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        font-weight: 700;
        color: $black;
        margin: 0 5px 0 0;

        &--color-1 {
            border-color: #d1d1d1;
        }

        &--color-2 {
            border-color: #747474;
        }

        &--color-3 {
            border-color: #9f6b1b;
        }
    }

    li {
        display: block;
        margin-bottom: 17px;
        &:first-child{
          margin-bottom: 7px;
        }
        &:last-child {
            margin-bottom: 0;
        }

        &.active {
            font-weight: 500;

            button {
                color: $black;
            }
        }
    }

    button {
        background: transparent;
        display: flex;
        align-items: center;
        font-family: $accent-font;
        color: #747474;

        &:hover {
            color: $black;
        }
    }
}
