@import '../components/_news';
$dark: #20201f;
$header: #9f6b1b;
$header-height: 90px;
$header-height-mobile: 70px;
$col-left-width: 190px;
$lk-block-padding: 35px 40px;
$border-color: #cbcbcb;

@mixin content() {
  padding: 0 85px;
  max-width: 1260px;

  @include media-breakpoint-down(md) {
    padding: 0 30px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 15px;
  }
}

@mixin block-padding() {
  padding: 35px 40px;

  @include media-breakpoint-down(sm) {
    padding: 25px 20px;
  }
}


.lk {
  min-height: 100%;
  $parent: &;
  background: #eaeaea;
  position: relative;
  z-index: 1;

  &__row {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
  }

  &__logo {
    width: 70px;
    margin-right: 30px;
    display: none;

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__mobile-nav-button {
    display: none;
  }

  &__links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__header {
    background: $header;

    #{$parent}__content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: $header-height;
    }

    .balance-module {
      margin-left: auto;
    }

    .lk-link {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }

    @include media-breakpoint-down(lg) {
      background: $dark;

      #{$parent}__logo {
        display: block;
      }

      #{$parent}__mobile-nav-button {
        display: block;
        margin-right: 30px;
      }
    }

    @include media-breakpoint-down(md) {

      .lk-link {
        display: none;
      }

      #{$parent}__content {
        height: $header-height-mobile;
      }

    }
  }

  &__content {
    @include content();
  }

  &__col-left {
    background: $dark;
    color: #fff;
    width: $col-left-width;

    #{$parent}__links {
      padding: 10px 5px;

      &>* {
        margin: 5px 10px;
      }
    }
  }

  &__col-right {
    width: calc(100% - 190px);

    .lk-section {
      position: relative;
      z-index: 3;
    }

    .social-module {
      transform: translateY(50px);

      @include media-breakpoint-down(md) {
        transform: none;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    &__col-left {
      position: absolute !important;
      top: $header-height;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 99;
      height: calc(100vh - #{$header-height-mobile}) !important;
      overflow: auto;
      display: none;

      .inner-wrapper-sticky {
        width: 100% !important;
        position: relative !important;
      }

      &.open {
        display: block;
      }
    }

    &__col-right {
      width: 100%;
    }
  }

  @include media-breakpoint-down(md) {
    &__col-left {
      top: $header-height-mobile;
    }
  }

}


.user-module {
  height: $header-height;
  background: #000;
  display: flex;
  align-items: center;
  padding: 20px 10px;
  max-width: 100%;

  &__avatar {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 15px;
    width: 53px;
    height: 53px;

    img {
      max-width: 100%;
    }
  }

  &__name {
    font-size: 17px;
    @include truncate(100%);
  }

  &__content {
    width: calc(100% - 72px);
  }

  &__type {
    color: #d6a24b;
    font-size: 14px;
    @include truncate(100%);
  }
}

.navigation-module {
  a {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    padding: 30px 10px 30px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;

    &:hover {
      background: #181816;
      color: #fff;

      svg {
        fill: #535353;
      }
    }
  }

  li {
    &:last-child {
      a {
        border: none;
      }
    }

    &.active {
      &>a {
        background: #181816;
      }

      ul {
        display: block;
      }
    }
    svg {
      fill: #3c3c3c;
      width: 30px;
      height: 30px;
      display: block;
    }
    ul {
      display: none;

      li {
        svg{
          fill:#666665;
        }
        a {
          background: #939393;
          color: #000000;

          &:hover {
            background: #bdbdbc;
            color: #000000;
          }
        }

        &.active {
          a {
            background: #bdbdbc;
          }
        }
      }
    }


  }

  &__icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }

  @media (max-width: 1600px) {
    a {
      padding: 21px 10px 21px 20px;
    }
  }
}

.lk-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #fff !important;

  span {
    text-decoration: underline;
  }

  &__icon {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    margin-left: 20px;

    svg {
      width: 25px;
      height: 25px;
    }

    img {
      width: 100%;
    }
  }

  &:hover {
    color: #fff;

    span {
      text-decoration: none;
    }
  }
}

.balance-module {
  display: flex;
  align-items: center;
  color: #fff;

  * {
    line-height: 1;
  }

  &__name {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: rgba(#fff, 0.5);
  }

  &__count {
    font-family: $accent-font;
    font-size: 33px;
    letter-spacing: -0.01em;
    margin-left: 15px;

    span {
      color: #f2c36d;
    }
  }

  @include media-breakpoint-down(sm) {
    display: block;

    &__name {
      width: 100%;
      margin-bottom: 5px;
      font-size: 10px;
    }

    &__count {
      margin: 0;
      font-size: 24px;
    }
  }
}

// sections

.lk-section {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.lk-info {
  padding: 25px 0;
  border-bottom: 2px solid rgba(#a6a6a6, 0.3);
  letter-spacing: 0.02em;
  font-size: 18px;
  font-family: $accent-font;

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
    margin-left: -15px;
    margin-right: -15px;
  }

  &__item {
    padding: 0 15px;
    margin-bottom: 20px;
    width: 20%;
  }

  &__name {
    color: #929292;
    font-family: $main-font;
    font-size: 15px;
    line-height: 1.2;
    @include truncate(100%);

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  @include media-breakpoint-down(md) {
    font-size: 15px;

    &__name {
      font-size: 13px;
    }

    &__item {
      width: 25%;
    }
  }

  @include media-breakpoint-down(sm) {
    &__item {
      width: 50%;
      flex-grow: 1;
    }
  }

}

.lk-banners {
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -15px;
    margin-left: -5px;
    margin-right: -5px;
  }

  &__col {
    padding: 0 2.5px;
    margin-bottom: 15px;
    width: 50%;
  }

  .banner-module {
    height: 100%;
  }

  @include media-breakpoint-down(sm) {
    &__col {
      width: 100%;
    }
  }
}

.banner-module {
  padding: 30px 50px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;

  &__title {
    font-size: 29px;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: $accent-font;
  }

  &__desc {
    font-size: 20px;
    font-family: $accent-font;
    margin-bottom: 30px;

    big {
      font-size: 32px;
    }

    span {
      opacity: 0.4;
      font-size: 18px;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__icon {
    flex-shrink: 0;
    margin-left: auto;
    padding-left: 10px;

    img {
      width: 105px;
    }
  }

  &__field {
    border: 1px solid rgba(#20201f, 0.4);
    border-radius: 3px;
    background: transparent;
    height: 40px;
    width: 100%;
    padding-left: 15px;
    font-size: 17px;
    transition: all 0.2s ease;
    margin: 8px 0 20px 0;

    &:hover {
      border-color: #000;
    }
  }

  .btn {
    color: #fff;
    font-size: 21px;
    padding: 0 40px;

    &:hover {
      color: #fff;
    }
  }

  &--dark {
    background-image: linear-gradient(to right bottom,
        #000000,
        #0c0b0b,
        #141313,
        #1a1a19,
        #20201f);
    color: #fff;
  }

  &--light {
    background-image: linear-gradient(to right top,
        #a7731f,
        #bf9152,
        #d5b284,
        #ead3b8,
        #fcf5ed);
  }

  @include media-breakpoint-down(sm) {
    padding: 20px;

    &__title {
      font-size: 24px;
    }

    &__field {
      font-size: 15px;
    }

    &__icon {
      img {
        width: 80px;
      }
    }

    .btn {
      padding: 0 30px;
    }
  }
}

.lk-title-module {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .btn {
    height: 40px;
    padding: 0 15px;
    color: #000;

    &:hover {
      color: #fff;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 400;
  }

  @include media-breakpoint-down(sm) {
    &__title {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.social-module {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  li {
    margin: 10px;
  }

  a {
    width: 67px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/hexagon.png") center no-repeat;
    background-size: contain;

    svg {
      fill: #000;
      display: block;
      width: 50%;
      height: 50%;
    }

    &:hover {
      svg {
        fill: #fff;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    li {
      margin: 5px;
    }

    a {
      width: 50px;
      height: 50px;
    }
  }
}

.lk-professions {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.lk-profession {
  display: flex;
  $parent: &;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    width: 60px;

    img {
      max-width: 100%;
    }
  }

  .status-graph {
    padding-left: 95px;
    padding-top: 25px;
  }

  .btn {
    font-size: 17px;
    height: 35px;
    padding: 0 20px;
    color: #fff;
  }

  &__content {
    padding-right: 15px;
  }

  &__title {
    text-transform: uppercase;
    font-family: $accent-font;
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 12px;

    span {
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      color: #dea94e;
      vertical-align: top;
    }
  }

  &__date {
    font-family: $accent-font;
    color: #676767;
    font-size: 14px;
    line-height: 1;
  }

  &__buttons {
    margin-left: auto;
  }

  &__col {
    width: 50%;

    &:first-child {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $border-color;
      padding: 30px 0;
    }
  }

  &:last-child {
    #{$parent}__col {
      &:first-child {
        border: none;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;

    &__col {
      width: 100%;

      &:last-child {
        order: -1;
      }

      &:first-child {
        flex-wrap: wrap;
      }
    }

    &__buttons {
      margin: 15px 0 0 0;
    }

    .status-graph {
      padding-left: 0;
      padding-top: 20px;
      padding-bottom: 5px;
    }
  }
}

.status-graph {
  &__name {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .graph-tooltip {
    position: absolute;
    top: 15px;
    width: 59px;
    height: 41px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    display: block;
    background: url("../img/tooltip.svg") center no-repeat;
  }

  &__bar {
    width: 100%;
    height: 11px;
    display: block;
    background-image: linear-gradient(0deg, #20201f 0%, #848484 100%);
    position: relative;

    span {
      height: 100%;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      background-image: linear-gradient(0deg, #be801e 0%, #fcd07c 100%);
    }
  }

  @include media-breakpoint-down(sm) {
    &__bar {
      height: 7px;
    }

    .graph-tooltip {
      transform: scale(0.6);
      top: 5px;
    }
  }
}

.lk-refferal {
  border: solid 1px $border-color;
  line-height: 1;
  @include block-padding();

  li {
    display: flex;
    align-items: center;
    margin-bottom: 17px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__content {
    width: 50%;
    display: flex;
    align-items: flex-end;
    padding-right: 30px;
  }

  &__bar {
    width: 50%;
    padding-left: 60px;
    display: flex;
    align-items: center;

    span {
      height: 5px;
      display: inline-block;
      vertical-align: top;
      background: #ccc;
    }

    &--yellow {
      span {
        background: #facd78;
      }
    }

    &--dark {
      span {
        background: #636362;
      }
    }

    &--gray {
      span {
        background: #9c9c9c;
      }
    }

    &--gray-light {
      span {
        background: #cbcbcb;
      }
    }

    &--brown {
      span {
        background: #c28524;
      }
    }
  }

  &__name {
    font-size: 18px;
    flex-grow: 1;
    display: flex;
    font-weight: 700;
    align-items: flex-end;
    margin-right: 10px;

    span {
      flex-shrink: 0;
    }

    &:after {
      content: "";
      width: 100%;
      height: 0;
      display: block;
      border-bottom: 2px dotted $border-color;
      margin-left: 10px;
    }
  }

  &__count {
    font-size: 20px;
    font-weight: 700;
  }

  @include media-breakpoint-down(sm) {
    li {
      flex-wrap: wrap;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__content {
      width: 100%;
    }

    &__bar {
      width: 100%;
      margin-top: 15px;
      padding-left: 0;
    }
  }
}

.footer-lk {
  font-size: 14px;
  padding: 0 15px 40px 15px;
  width: 100%;
  background: $dark;
  color: #fff;
  padding-left: $col-left-width;

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @include content();
    padding-left: 0;
    padding-top: 230px;
    position: relative;

    &>svg {
      position: absolute;
      top: 0px;
      width: 100%;
      left: 0;
      display: block;
      right: 0;
    }
  }

  &__logo {
    width: 110px;
    display: block;

    img {
      display: block;
      max-width: 100%;
    }
  }

  .payments {
    margin: 0 15px;

    img {
      max-width: 55px;
      max-height: 30px;
    }
  }

  @media (max-width:1400px) {

    .footer-links {
      margin-top: 30px;
      width: 100%;
    }
  }

  @include media-breakpoint-down(lg) {
    padding-left: 0;
    padding-right: 0;

    &__content {
      padding-left: 85px;
      padding-top: 180px;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-left: 0;
    padding-right: 0;

    &__logo {
      margin-bottom: 15px;
    }

    &__content {
      padding-left: 15px;
      padding-right: 15px;
      justify-content: center;
      padding-top: 100px;
    }
  }
}

.growth-graph {
  background: rgb(255, 255, 255);
  padding: 30px;

  img {
    max-width: 100%;
    display: block;
  }

  @include media-breakpoint-down(sm) {
    padding: 15px 15px 5px;
  }
}