mixin footer()
  +b.FOOTER.footer
    .container
      +e.top
        +e.A(href="page-index.html").logo
          img(src="img/logo/logo.png", alt="LuxLife")
        
        +b.payments
          ul
            li
              a(href="#", target="_blank")
                img(src="img/payments/pm.png", alt="pm")
            li
              a(href="#", target="_blank")
                img(src="img/payments/visa.png", alt="visa")
            li
              a(href="#", target="_blank")
                img(src="img/payments/mastercard.png", alt="mastercard")
        
        include ./_nav
      +e.bottom
        +e.P.copyright (с) 2019, LuxLife Club