mixin footer()
  +b.FOOTER.footer
    .container
      +e.row
        +e.A(href="page-index.html").logo
          img(src="img/logo/logo-color.png", alt="")
        +e.content
          
          +e.NAV.nav
            ul
              li
                a(href="#") О дистанционном обучении
              li
                a(href="#") Часто задаваемые вопросы
              li
                a(href="#") Отзывы
              li
                a(href="#") Контакты
              li
                a(href="#") Список направлений онлайн-курсов
          
          +e.row
            +e.UL.links
              li
                a(href="#") Политика конфиденциальности
              li
                a(href="#") Договор-оферта
              li
                a(href="#") Карта сайта
            +b.UL.social
              li
                a(href="#", target="_blank")
                  img(src="img/icons/youtube.svg", alt="")
              li
                a(href="#", target="_blank")
                  img(src="img/icons/instagram.svg", alt="")
              li
                a(href="#", target="_blank")
                  img(src="img/icons/vk.svg", alt="")
            +b.A(href="#", class="btn --line-blue") Навигатор дополнительного образования

      +e.bottom
        +e.P.copyright (с) 2019, ОГБУ „Белгородский региональный модельный центр дополнительного образования детей“