mixin header(itemClass)
  +b.HEADER.header(class=itemClass)
    .container
      +b.header-top
        +e.A(href="page-index.html").logo
          img(src="img/logo/logo.png", alt="LuxLife")
        +e.right
          include ./_nav
          +b.buttons
            +b.A(href="#", class="btn --icon-left --border-white --white")
              +icon('user')
              span Войти
            +b.language-module.btn.btn--border-accent
              +e.current RU
              +e.UL.dropdown
                li
                  a(href="#") EN
                li
                  a(href="#") CZ
      if block
        block