mixin nav()
  ul
    li(class=(pageName === "page-index" ? " active" : undefined))
      a(href="page-index.html") Home
    li(class=(pageName === "paper" ? " active" : undefined))
      a(href="page-index.html") White papper
    li(class=(pageName === "affiliate" ? " active" : undefined))
      a(href="affiliate.html") Affiliate program
    li(class=(pageName === "faq" ? " active" : undefined))
      a(href="page-index.html") FAQ
    li(class=(pageName === "support" ? " active" : undefined))
      a(href="support.html") Support

mixin buttons()
  +b.top-buttons
    a(data-modal-id="login" class="js-custom-modal") Login
    a(data-modal-id="signup" class="color-accent js-custom-modal") Sign Up

mixin social()
  +b.UL.top-social
    li
      a(href="#")
        img(src="img/social/1.png", alt="")
    li
      a(href="#")
        img(src="img/social/telegram.svg", alt="")
    li
      a(href="#")
        img(src="img/social/twitter.svg", alt="")
mixin header(itemClass)

  +b.HEADER.header(class=itemClass)
    .container
      +e.row
        +e.A(href="page-index.html").logo
          img(src="img/logo.png", alt="")
        
        +e.NAV.nav
          +nav()
        
        +social()
        
        +b.language-module
          +e.current En
          +e.UL.dropdown
            li
              a(href="#") Ru
            li
              a(href="#") Cz

        +buttons()
        
        .menu-button
          span
          span
          span
  
  //
  +b.mobile-menu
    .container
      +e.top
        +buttons()
      +e.NAV.nav
        +nav()

      +social()