mixin header(itemClass)

  +b.HEADER.header(class=itemClass)
    .container
      +e.row
        +e.A(href="page-index.html").logo
          img(src="img/logo.png", alt="")
        
        +e.NAV.nav
          ul
            li(class="active")
              a(href="#") Home
            li
              a(href="#") White papper
            li
              a(href="#") Affiliate program
            li
              a(href="#") FAQ
            li
              a(href="#") Support
        
        +e.UL.social
          li
            a(href="#")
              img(src="img/social/1.png", alt="")
          li
            a(href="#")
              img(src="img/social/telegram.svg", alt="")
          li
            a(href="#")
              img(src="img/social/twitter.svg", alt="")
        
        +b.language-module
          +e.current En
          +e.UL.dropdown
            li
              a(href="#") Ru
            li
              a(href="#") Cz

        +e.buttons
          a(href="#") Login
          a(href="#" class="color-accent") Sign Up
        
        .menu-button
          span
          span
          span