+b.HEADER.header(class="header--intro")
  .container
    +b.header-top
      +e.A(href="page-index.html").logo
        img(src="img/logo/logo.png", alt="LuxLife")
      +e.right
        include ./_nav
        +b.buttons
          +b.A(href="#", class="btn --icon-left --border-white --white")
            +icon('user')
            span Войти
          +b.language-module.btn.btn--border-accent
            +e.current RU
            +e.UL.dropdown
              li
                a(href="#") EN
              li
                a(href="#") CZ
    +b.header-intro
      +e.content
        +e.H1.title 
          span.gr-accent <small>Качественное</small>
          span.gr-accent доступное образование
          span <big class="gr-white">по мировым</big><br> <big class="gr-white">трендам</big>
        +e.desc
          p. 
            Сжато, интересно, за короткий период и доступную цену.
            Обучение проводят коучи с мировым именем.
        +b.buttons
          +b.A(href="#", class="btn --border-accent") Зарегистрироваться
      +e.pic
        img(src="img/header-intro/pic.png", alt="")