mixin nav()
  ul
    li
      a(href="#") Онлайн-курсы
    li
      a(href="#") Вебинары
    li
      a(href="#") Тестирование
    li
      a(href="#") Контакты

mixin header(itemClass)
  +b.HEADER.header(class=itemClass)

    +e.UL.icons
      li
        a(href="#")
          +icon('eye')
      li
        a(href="#")
          +icon('search')

    .container
      +e.row

        +e.A(href="page-index.html").logo
          img(src="img/logo/logo-white.png", alt="e-wallet")
          h2 Портал дистанционного цифрового дополнительного образования Белгородской области
        
        +e.NAV.nav
          +nav()

        +e.buttons
          +b.A(href="#", class="btn --line-white")
            +icon('lock')
            span Вход
          +b.A(href="#", class="btn --line-white")
            +icon('user')
            span Регистрация
