+b.lk-info
  +e.row
      +e.item
          +e.P.name Представитель
          p Username
      +e.item
          +e.P.name Ваш ID
          p 00001036
      +e.item
          +e.P.name Ваш телефон
          p +7 707 491-04-87
      +e.item
          +e.P.name Ваш статус
          p Представитель
      +e.item
          +e.P.name Ваш куратор <a href="#">vvvmoney</a>
          p +7 707 491-04-87