mixin lk-top(hasTitle)
    +b.SECTION.lk-top
        +e.buttons
            +b.A(data-modal-id="send", class="btn --square-light js-custom-modal")
                +icon('send')
                span Send
            +b.A(data-modal-id="req", class="btn --square-gray js-custom-modal")
                +icon('request')
                span Request  
        +b.balance-module
            if hasTitle
                +e.P.title Total balance:
            +e.P.count $121.12