+b.NAV.navigation
  +e.button
    include ./_menu-button
  +e.menu
    +e.mobile-bar
      +e.logo
        img(src="img/logo/logo.png", alt="")
      +e.close
        .menu-button.open
          span
          span
          span
    ul
      li(class=(pageName === "page-index" ? " active" : undefined))
        a(href="page-index.html") Главная
      li(class=(pageName === "page-1" ? " active" : undefined))
        a(href="page-1.html") О компании
      li(class=(pageName === "page-2" ? " active" : undefined))
        a(href="page-2.html") Профессии
      li(class=(pageName === "page-3" ? " active" : undefined))
        a(href="page-3.html") FAQ
      li(class=(pageName === "page-4" ? " active" : undefined))
        a(href="page-4.html") Контакты
