+b.NAV.navigation
  +e.button
    include ./_menu-button
  +e.menu
    +e.mobile-bar
      +e.logo
        img(src="img/logo/logo.png", alt="")
      +e.close
        .menu-button.open
          span
          span
          span
    ul
      li.active
        a(href="page-index.html") Главная
      li
        a(href="page-1.html") О компании
      li
        a(href="page-2.html") Тренинги
      li
        a(href="page-3.html") FAQ
      li
        a(href="page-4.html") Контакты
