mixin profession-item()
  +b.A(href="page-2-details.html").profession-item
    +e.top
      +e.icon
        +icon('user-line')
      +e.title Название профессии
    +e.content Большая часть населения не имеют достаточного времени и денег, чтобы следить за здоровьем
