mixin profession-item()
  +b.profession-item
    +e.top
      +e.icon
        +icon('user-line')
      +e.P.title Название профессии
    +e.content
      p Большая часть населения не имеют достаточного времени и денег, чтобы следить за здоровьем
