+b.SECTION.social-icons.section
    .container
        +b.H3.section-title Follow us on social media
        +e.UL.list
            +e.LI
                +e.A(href="#")
                    img(src="img/social/1.svg", alt="")
            +e.LI
                +e.A(href="#")
                    img(src="img/social/telegram.svg", alt="")
            +e.LI
                +e.A(href="#")
                    img(src="img/social/twitter.svg", alt="")
            +e.LI
                +e.A(href="#")
                    img(src="img/social/medium.png", alt="")
            +e.LI
                +e.A(href="#")
                    img(src="img/social/btc-talk.png", alt="")