+b.UL.social-module
  +e.LI
      +e.A(href="#", target="_blank")
          +icon('instagram')
  +e.LI
      +e.A(href="#", target="_blank")
          +icon('vk')
  +e.LI
      +e.A(href="#", target="_blank")
          +icon('youtube')
  +e.LI
      +e.A(href="#", target="_blank")
          +icon('facebook')
