@font-face {
    font-family: 'Comfortaa';
    src: url('hinted-Comfortaa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('hinted-Comfortaa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

