include ../mixins/all
doctype html
html
  head
    include _head

  body(class=bodyClass)

    block header
      include ../partials/_header
    block content

      block footer
      

    block scripts
      script(type="text/javascript" src="js/app.js")
