include ../mixins/all
block variables

doctype html
html
  head
    include _head

  body(class=bodyClass)
    +b.loader
      +e.inside
        img(src="img/loader.svg", alt="")
      
    block content

    include ../windows/index
    block scripts
      script(defer type="text/javascript" src="js/vendor.js")
      script(defer type="text/javascript" src="js/app.js")
