include ../mixins/all
block variables

doctype html
html
  head
    include _head
    link(rel="stylesheet" media="all" href="css/lk.css")

  body(class=bodyClass)
    +b.loader
      +e.inside
        img(src="img/logo/logo.png", alt="")
        img(src="img/loader.svg", alt="")
    +b.lk
        +e.row
            +e.col-left.js-sticky
                //
                +b.user-module
                    +e.avatar
                        img(src="img/avatar.png", alt="")
                    +e.content
                        +e.P.name Username
                        +e.P.type Представитель
                //
                +b.NAV.navigation-module
                    +e.UL
                        +e.LI(class=(pageName === "lk-1" ? " active" : undefined))
                            +e.A(href="lk-1.html")
                                +e.icon
                                    +icon('home')
                                span Главная
                        +e.LI(class=(pageName === "lk-9" ? " active" : undefined))
                            +e.A(href="lk-9.html")
                                +e.icon
                                    +icon('sharer')
                                span Акционеры
                        +e.LI(class=(pageName === "lk-2" || pageName === "lk-2-2" || pageName === "lk-2-3" || pageName === "lk-2-4" ? " active" : undefined))
                            +e.A(href="lk-2.html")
                                +e.icon
                                    +icon('money')
                                span Финансы
                            +e.UL
                                +e.LI(class=(pageName === "lk-2" ? " active" : undefined))
                                    +e.A(href="lk-2.html")
                                        +e.icon
                                            +icon('arrow-left')
                                        span Пополнение
                                +e.LI(class=(pageName === "lk-2-2" ? " active" : undefined))
                                    +e.A(href="lk-2-2.html")
                                        +e.icon(class="--rotate")
                                            +icon('arrow-left')
                                        span Вывод
                                +e.LI(class=(pageName === "lk-2-3" ? " active" : undefined))
                                    +e.A(href="lk-2-3.html")
                                        +e.icon
                                            img(src="img/lk/transaction.png", alt="")
                                        span Перевод
                                +e.LI(class=(pageName === "lk-2-4" ? " active" : undefined))
                                    +e.A(href="lk-2-4.html")
                                        +e.icon
                                            +icon('affiliate')
                                        span Партнерские начисления
                        +e.LI(class=(pageName === "lk-10" ? " active" : undefined))
                            +e.A(href="lk-10.html")
                                +e.icon
                                    +icon('chart')
                                span Аналитика
                        +e.LI(class=(pageName === "lk-4" ? " active" : undefined))
                            +e.A(href="lk-4.html")
                                +e.icon
                                    +icon('news')
                                span Новости
                        +e.LI(class=(pageName === "lk-5" ? " active" : undefined))
                            +e.A(href="lk-5.html")
                                +e.icon
                                    +icon('team')
                                span Моя команда
                        +e.LI(class=(pageName === "lk-6" ? " active" : undefined))
                            +e.A(href="lk-6.html")
                                +e.icon
                                    +icon('book')
                                span Обучение
                        +e.LI(class=(pageName === "lk-7" ? " active" : undefined))
                            +e.A(href="lk-7.html")
                                +e.icon
                                    +icon('settings')
                                span Настройки
                        +e.LI(class=(pageName === "lk-8" ? " active" : undefined))
                            +e.A(href="lk-8.html")
                                +e.icon
                                    +icon('mail')
                                span Обратная связь
                        +e.LI
                            +e.A(href="page-index.html")
                                +e.icon
                                    +icon('exit')
                                span Выход
            
            +e.col-right
                //
                +e.HEADER.header
                    +e.content
                        +e.A(href="page-index.html").logo
                            img(src="img/logo/logo.png", alt="")
                        
                        +e.mobile-nav-button
                            include ../partials/_menu-button
                        
                        +e.links
                            +b.A(href="lk-2.html").lk-link
                                span Пополнить счет
                                +e.icon
                                    img(src="icons/plus.svg", alt="")
                            +b.A(href="lk-2-2.html").lk-link
                                span Вывести средства
                                +e.icon
                                    img(src="icons/minus.svg", alt="")

                        +b.balance-module
                            +e.P.name Ваш баланс:
                            +e.P.count 450.65 
                                span у.е.
                
                //
                +e.content
                    block content

        
    +b.FOOTER.footer-lk
        +e.content
            svg(xmlns='http://www.w3.org/2000/svg' preserveAspectRatio="xMinYMin meet" viewBox="0 0 1259 195")
                path(fill='#eaeaea' d='M1259 0L629 164 0 0z')
                linearGradient#a(gradientUnits='userSpaceOnUse' x1='509.417' y1='-679.7' x2='509.417' y2='-678.7' gradientTransform='matrix(289 0 0 -38.018 -146592 -25645.816)')
                    stop(offset='0' stop-color='#be801e')
                    stop(offset='1' stop-color='#fcd07c')
                path(d='M629.8 194.1l-.3-.1-.3.1v-.2L485 157.6l.1-.6 144.4 36.5L773.9 157l.1.6L629.8 194v.1zm-144.7-36.2l144.4 36.5 144.4-36.5.1.6-144.2 36.4v.2l-.3-.1-.3.1v-.2L485 158.4l.1-.5z' fill='url(#a)')
            +e.A(href="lk-1.hmtl").logo
                img(src="img/logo/logo.png", alt="")
            +b.payments
                ul
                    li
                        a(href="#", target="_blank")
                            img(src="img/payments/pax.png", alt="pax")
                    li
                        a(href="#", target="_blank")
                            img(src="img/payments/pm.png", alt="pm")
                    li
                        a(href="#", target="_blank")
                            img(src="img/payments/visa.png", alt="visa")
                    li
                        a(href="#", target="_blank")
                            img(src="img/payments/mastercard.png", alt="mastercard")
                    li
                        a(href="#", target="_blank")
                            img(src="img/payments/pay-box.png", alt="paybox")
                    li
                        a(href="#", target="_blank")
                            img(src="img/payments/payeer.png", alt="payeer")
            +b.footer-links
                li
                    a(href="policy.html") Политика конфиденциальности
                li
                    a(href="policy.html") Политика безопасности
                li
                    a(href="page-4.html") Обратная связь
    block scripts
      script(type="text/javascript" src="js/lk.js")
