// кнопка
.btn {
    position: relative;
    cursor: pointer;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-family: $main-font;
    padding: .65em 1.9em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.15px;
    font-size: 21px;
    border-radius: 30px;
    $parent: &;

    &:active {
        transform: scale(0.98);
    }


    &--full {
        width: 100%;
    }

    &.disabled {
        border: 1px solid rgba(255, 255, 255, 0.55);
        background-color: #ff9400;
        background-image: linear-gradient(to top, #494949 0%, #818181 100%);
        opacity: 0.4;
        cursor: default;
        pointer-events: none;
    }
}