.form-section {
    margin: 60px 0;

    .title {
        text-align: center;
        font-size: 34px;
        margin-bottom: 30px;

        @include media-breakpoint-down(sm) {
            font-size: 24px;
        }
    }

    &__block {
        border-radius: 10px;
        border: 2px solid $color-7;
        padding: 30px 85px 60px;

        &--gradient {
            background-image: linear-gradient(to top, #be801e 0%, #fcd07c 100%);
            border: none;
            padding-bottom: 30px;
            margin-top: 0px;

            .field-row {
                &__name {
                    color: $white;
                }

                textarea {
                    height: 160px;
                }
            }

            .btn {
                flex-grow: initial !important;
            }

            .field {
                border-color: $white;
            }
        }
    }

    &__title {
        text-align: center;
        font-size: 41px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        font-family: $accent-font;
        font-weight: 400;
        margin-bottom: 14px;
    }

    &__desc {
        text-align: center;
        font-size: 26px;
        font-family: $accent-font;
        display: block;
        max-width: 470px;
        margin: 0 auto 43px;
        position: relative;

        &:before,
        &:after {
            content: '';
            display: block;
            width: 124px;
            height: 29px;
            position: absolute;
            top: 50%;
            background: url('../img/decor/form-desc-before.png') center no-repeat;
        }

        &:before {
            right: 100%;
            margin-right: 30px;
            transform: translateY(-50%);
        }

        &:after {
            transform: translateY(-50%) scale(-1, 1);
            left: 100%;
            margin-left: 30px;
        }
    }

    &__row {
        display: flex;
        align-items: flex-end;
        margin: 0px -15px 0;
    }

    .btn {
        height: 50px;
    }

    .field-row,
    .btn {
        flex-grow: 1;
        margin: 15px;
    }

    @include media-breakpoint-down(md) {
        &__block {
            padding: 30px 20px;
            margin: 0;
        }

        &__row {
            flex-wrap: wrap;
        }

        // .field-row {
        //     width: calc(50% - 30px);
        //     flex-grow: inherit;
        //     &--textarea{
        //         width: 100%;
        //     }
        // }
        &__desc {

            &:after,
            &:before {
                display: none;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .field-row {
            margin-top: 0;
            width: 100%;
        }

        &__desc {
            font-size: 18px;
        }

        &__title {
            font-size: 36px;
            line-height: 1.2;
        }
    }

    @include media-breakpoint-down(xs) {
        &__title {
            font-size: 24px;
        }
    }
}
