.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    transform: translateY(-10px);
    transition: all 0.2s ease;
    opacity: 0;
    visibility: hidden;
    padding: 60px;

    input,
    textarea {
        min-width: auto !important;
    }

    &__close {
        width: 30px;
        height: 30px;
        background: transparent;
        z-index: 15;
        position: absolute;
        right: 0;
        bottom: 100%;
        margin-bottom: 25px;

        svg {
            fill: #000;
            width: 100%;
            height: 100%;
        }

        &:hover {
            svg {
                fill: #333;
            }
        }
    }

    &.active {
       transform: none;
       opacity: 1;
        visibility: visible;
    }

    &__title {
        font-weight: 400;
        text-align: center;
        font-size: 35px;
        color: $black;
    }
    &__top{
        margin-bottom: 35px;
    }
    &__block {
        background: $white;
        width: 100%;
        max-width: 700px;
        padding: 35px;
        position: relative;
        cursor: default;
        margin: auto;
        z-index: 5;
        transition: all 0.2s ease;
        &--not-padding {
            padding: 0px;
        }

        &--autentification-2fa {
            width: 1000px;
            padding: 0;

            .modal__close {
                svg {
                    fill: $black;
                }
            }

            .modal-form {
                padding: 30px 35px;
                margin-top: 0;
            }

            @include media-breakpoint-down(md) {
                width: 100%;
            }

            @include media-breakpoint-down(xs) {
                padding: 0 !important;

                .modal-form {
                    padding: 30px 15px;
                }
            }
        }

    }

    .field-row{
        &__name{
            font-family: $main-font;
        }
    }
  
    &__buttons{
        text-align: center;
        margin-top: 20px;
        .btn{
            padding: 0 60px;
            color:#fff;
        }
    }
    @include media-breakpoint-down(sm) {
        padding: 0px;
        overflow-x: hidden;
        overflow-y: auto;

        input {
            min-width: 100%;
        }

        &__title {
            font-size: 24px;
        }

        &__close {
            bottom: inherit;
            top: 15px;
            right: 15px;
            width: 25px;
            height: 25px;
            margin-bottom: 0;

            svg {
                fill: $black;
            }
        }

        &__block {
            border-radius: 0;
            padding: 20px 15px 30px;
            width: 100%;

            &--not-padding {
                padding: 0px;
            }
        }
        &__buttons{
            margin-top: 30px;
        }
    }
}

.buy-package{
    font-size: 22px;
    padding: 0 25px;
    &__sep{
        height: 2px;
        background: url('../img/decor/dotted.png') center repeat-x;
        flex-grow: 1;
        display: block;
        width: 100%;
        margin: 0 5px;
    }
    &__row{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
        strong{
            margin-left: 5px;
        }
    }
    &__price{
        color: #9f6b1b;
        font-family: $accent-font;
        font-size: 30px;
        line-height: 1;
        flex-shrink: 0;
        &--gray{
            color: rgba(#000, 0.5);
            font-size: 22px;
        }
    }
    &__name{
        display: flex;
        align-items: center;
        flex-shrink: 0;
        img{
            margin-left: 15px;
            display: block;
            width: 60px;
        }
    }
    @include media-breakpoint-down(md) {
        padding: 0px;
    }
    @include media-breakpoint-down(sm) {
        &__row{
            flex-wrap: wrap;
            img{
                width: 30px;
            }
        }
        &__sep{
            display: none;
        }
        &__price{
            width: 100%;
            margin-top: 5px;
        }
    }
}