.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #000;
    transform: translate(-10px, 0) scale(0.95);
    // transition: transform 0s linear,
    //     opacity 0.1s linear;
    opacity: 0;
    visibility: hidden;
    padding: 0 70px;
    overflow: auto;
    flex-flow: row wrap;

    &--white {
        background: rgba(#fff, 0.95);
    }

    &__header {
        margin-bottom: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 30px 0;

        .top-buttons {
            a {
                font-size: 10px;
            }
        }

        .language-module {
            margin-left: auto;
            margin-right: 30px;
        }
    }

    &__footer {
        margin-top: auto;
        width: 100%;
        font-size: 13px;
        font-weight: 300;
        color: #848484;

        a {
            color: #848484;
            text-decoration: underline;

            &:hover {
                color: #fff;
            }
        }

        .container {
            border-top: 2px solid rgba(#fff, 0.2);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding: 40px 0;
        }
    }

    &.active {
        @include offAnimate();
        visibility: visible;
    }

    @include media-breakpoint-down(sm) {
        padding-left: 0;
        padding-right: 0;

        &__header {
            .top-buttons {
                display: none;
            }

            .language-module {
                margin-right: 0;
            }
        }

        &__footer .container,
        &__header {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .gr-block {
            margin-top: 0;

            &__content {
                border-radius: 0;
            }
        }
    }
}

.code {
    margin-bottom: 30px;

    label {
        color: #1168ad;
        font-size: 15px;
    }

    &__group {
        display: flex;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0;
        /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type=number] {
        -moz-appearance: textfield;
        /* Firefox */
    }

    input {
        width: 50px;
        margin: 0 10px 0 0;
        font-size: 34px;
        text-align: center;
        background: transparent;
        height: 60px;
        border-bottom: 2px solid #000;

        &::placeholder {
            color: #ddd;
        }

        &.active {
            border-color: #ccc;
        }
    }

    &--error {
        input {
            border-color: red !important;
        }
    }
}

.gr-block {
    width: 100%;
    max-width: 585px;
    margin-bottom: 40px;
    margin-top: 40px;

    .code {
        label {
            color: #fff;
        }

        input {
            color: #fff;
        }
    }

    &__content {
        width: 100%;
        border-radius: 8px;
        background-image: linear-gradient(to right, #0055a5 0%, #0055a5 9%, #00cad1 99%, #00cad1 100%);
        color: #fff;
        padding: 50px 70px;
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;
        font-size: 14px;

        ul {
            display: flex;
            align-items: center;
        }

        li {
            margin: 0 30px 10px 0;

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            color: #fff;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                color: $color-1;
                text-decoration: none;
            }
        }
    }

    &__title {
        margin-bottom: 40px;
        letter-spacing: 1px;
        font-size: 31px;
        font-weight: 700;
        font-family: $accent-font;
    }

    &__buttons {
        margin-top: 30px;
    }

    .field {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .btn {
        border-radius: 8px;
        font-weight: 700;
        font-size: 17px;
        padding-left: 20px;
        padding-right: 20px;

        &--icon {
            img {
                height: 15px;
                margin-right: 10px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &__content {
            padding: 30px 20px;
        }

        &__bottom {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.modal-block {
    width: 100%;
    max-width: 565px;
    margin-bottom: 40px;
    margin-top: 40px;
    $parent: &;
    position: relative;

    &__close {
        position: absolute;
        top: 45px;
        z-index: 10;
        right: 45px;
        cursor: pointer;

        svg {
            width: 23px;
            height: 23px;
        }

        &:hover {
            svg {
                fill: #0062aa;
            }
        }
    }

    &--gray {
        #{$parent}__content {
            background: #f0f0f0;
        }
    }

    &--light {
        #{$parent}__content {
            background: #d4f1f6;
        }
    }

    &__content {
        width: 100%;
        border-radius: 2px;
        color: #000;
        padding: 45px;
        padding-top: 35px;
    }

    &__links {
        margin-top: 25px;
        text-align: center;

        a {
            text-decoration: underline;
            color: #0062aa;
            font-size: 14px;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__title {
        margin-bottom: 30px;
        letter-spacing: 1px;
        font-size: 23px;
        font-weight: 700;
        height: 50px;
        color: #0062aa;
        text-transform: uppercase;
        font-family: $accent-font;
        display: flex;
        align-items: center;

        svg {
            width: 50px;
            height: 50px;
            fill: rgba(#0062aa, 0.3);
            margin-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .field {
        margin-bottom: 20px;
        font-size: 14px;

        label {
            font-size: 17px;
            margin-bottom: 10px;
        }

        select,
        input[type="text"],
        input[type="number"],
        input[type="password"] {
            background: #fff;
            color: #000;
        }
    }

    .btn {
        font-weight: 500;
        font-size: 21px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;

        &--icon {
            img {
                height: 15px;
                margin-right: 10px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &__content {
            padding: 30px 20px;
        }

        &__bottom {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.qr {
    text-align: center;

    img {
        display: block;
        margin: 0 auto;
    }
}


.auth-desc {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    max-width: 350px;

    img {
        margin-right: 30px;
        display: block;
        flex-shrink: 0;
    }
}

.network-balance {
    color: rgb(0, 98, 170);
    font-size: 17px;
    text-align: right;
    font-weight: 700;
    margin: 38px 0 0 0;
}

.copy-btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        svg {
            fill: rgb(0, 98, 170);
        }
    }

    svg {
        width: 18px;
        height: 20px;
        fill: rgba(#000, 0.5);
    }
}