.navigation {
    .menu-button {
        display: none;
    }
    a {
        text-decoration: none;
        color: $color-2;
        &:hover {
            text-decoration: underline;
            color: #fff;
        }
    }
    li {
        display: inline-block;
        vertical-align: top;
        margin: 0 40px 0 0;
        &.active {
            a {
                color: #b2b2b2;
            }
        }
    }
    @include media-breakpoint-down(md) {
        .menu-button {
            display: block;
        }
        ul {
            display: none;
        }
    }
}