@mixin newsDate() {
  display: block;
  color: #9f6b1b;
  font-size: 22px;
  line-height: 1;
  font-family: $accent-font;
  text-transform: uppercase;
}

.news {

  &-item {
    background: #ebebeb;
    display: block;
    text-decoration: none;
    padding: 30px 30px;
    line-height: 1.56;
    height: 100%;


    &:hover {
      .news-item__content {
        text-decoration: underline;
      }
    }

    &--read-more {
      background: transparent;
      border: solid 10px #ebebeb;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      line-height: 1.3;
      font-weight: 700;
      text-align: center;
      text-decoration: underline;

      &:hover {
        color: #000;
        text-decoration: none;
        background: transparent;
      }
    }

    &__col {
      @include make-col(6, 12);
      @include make-col-ready();

      &:first-child {
        padding: 30px 40px;
      }

      &:last-child {
        padding-right: 0;

        img {
          display: block;
          width: 100%;
        }
      }
    }

    &__date {
      @include newsDate();
      margin-bottom: 20px;
      margin-left: 32px+25px;
    }

    &__row {
      display: flex;
    }

    &__content {
      position: relative;
      padding-left: 32px + 25px;
      display: block;

      img {
        display: inline;
        margin-left: 10px;
      }

    }
  }

  @include media-breakpoint-down(sm) {

    &-item {
      padding: 25px;

      &__row {
        flex-wrap: wrap;
      }

      &__col {
        @include make-col(8, 12);

        &:first-child {
          padding: 25px;
        }

        &:last-child {
          @include make-col(4, 12);
        }
      }

      &__date {
        margin-left: 0;
        margin-bottom: 10px;
      }

      &__content {
        padding-left: 0;
        padding-top: 15px;

        &:before {
          top: 0;
        }
      }
    }
  }

  @include media-breakpoint-down(xs) {
    &-item {
      &__col {
        @include make-col(12, 12);

        &:last-child {
          padding-left: 0;
          @include make-col(12, 12);
          order: -1;
        }
      }
    }
  }
}


.news-item {
  position: relative;
  $parent: &;
  font-size: 16px;
  line-height: 1.3;
  background: #fff;
  &:nth-child(2n){
  background: rgba(#d6d6d6, 0.6);
  }
  &--reading {
    #{$parent}__content {
      transition: height .2s ease;
    }

    #{$parent}__reading {
      display: flex;
    }
  }

  &__reading {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    display: none;

    span {
     color: rgba(#002737, 0.5);
    
    }

    img {
      opacity: 0.3;
      width: 28px;
      display: block;
      margin-right: 10px;
    }
  }

  &__annotation {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__details {
    display: none;
  }

  @include media-breakpoint-down(xs) {
    font-size: 14px;

    &__reading {
      top: 22px;
      font-size: 14px;

      img {
        width: 20px;
      }
    }
  }
}


.js-open-news {
  cursor: pointer;
  user-select: none;
  position: relative;

  svg {
    content: '';
    width: 27px;
    height: 20px;
    display: block;
    transform: rotate(90deg);
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: all 0.5s ease;
    fill: $color-19;
  }

  &:hover {
    .news-item__content {
      text-decoration: none;
    }

    &:after {
      opacity: 1;
    }
  }

  &.open {
    svg {
      transform: rotate(270deg);
    }
  }

  .news-item__content {
    padding-right: 45px;
    position: relative;
    &:before{
      content:'';
      width: 30px;
      height: 2px;
      background-image: linear-gradient(to top, #be801e 0%, #fcd07c 100%);
      position: absolute;
      top: 10px;
      left: 0;
    }
  }

  &.news-item--reading {
    svg {
      fill: #000;
      opacity: 0.2;
    }

    &.open {
      .news-item__content {
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .news-item__content {
      padding-right: 0;
      padding-top: 25px;
    }
  }
}

.news-list-stroke {
  .news-item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}