@mixin decorationLines() {
    &:before {
        content: "";
        width: 999px;
        display: block;
        border-top: solid 1px #fcd07c;
        border-bottom: 1px solid #dda84d;
        position: absolute;
        top: 50%;
        right: 100%;
        margin-right: 15px;
    }

    &:after {
        content: "";
        width: 999px;
        display: block;
        border-top: solid 1px #fcd07c;
        border-bottom: 1px solid #dda84d;
        position: absolute;
        top: 50%;
        left: 100%;
        margin-left: 15px;
    }
}

.breadcrumbs {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: $accent-font;
    margin-top: -23px;
    position: relative;
    z-index: 1;

    a {
        color: $black;
    }

    &__separator {
        margin: 0 15px;
        color: #c7913c;
    }

    span {
        color: #c7913c;
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
    }
}

.decoration-title {
    font-size: 200%;
    line-height: 1.1;
    font-family: $accent-font;
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;

    * {
        font-weight: 400;
        position: relative;
        display: inline-block;
        vertical-align: top;

        @include decorationLines();
    }

    &--gray {
        * {

            &:before,
            &:after {
                border-color: #cecece;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        font-size: 150%;
    }
}

.page-title {
    text-align: center;
    margin-bottom: 30px;

    .title {
        font-size: 260%;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// faq

@mixin blockStyle() {
    padding: 20px 40px;
    position: relative;
    border: solid 1px #e2e2e2;
    background: $white;
    box-shadow: 10px 25px 50px rgba(0, 0, 0, 0.05);
}

.faq-answers {
    &__content {
        @include blockStyle();
        z-index: 2;
        margin-top: -1px;
        border-top: none;
        padding-top: 0px;
        padding-bottom: 30px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    &__title {
        @extend .h3;
        cursor: pointer;
        display: flex;
        align-items: center;
        @include blockStyle();
        padding-right: 60px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;

        &.ui-state-active {
            background: #fff;
            z-index: 2;
        }

        &:after {
            content: "";
            display: block;
            flex-shrink: 0;
            width: 27px;
            position: absolute;
            top: 50%;
            right: 25px;
            margin-top: -7px;
            height: 14px;
            background: url("../img/icons/arrow.svg") center no-repeat;
            background-size: cover;
            transition: all 0.3s ease;
            transform: rotate(0deg);
            opacity: 0.3;
        }

        &.ui-state-active {
            &:after {
                transform: rotate(-180deg);
            }
        }
    }

    &__block {
        border-radius: 20px;
        background: $white;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-down(sm) {
        &__title {
            padding: 15px 60px 15px 15px;
            font-size: 18px;
        }

        &__content {
            padding: 15px;
        }
    }
}

//-

// contacts
.hr-decoration {
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    span {
        position: relative;
        display: inline-block;
        vertical-align: top;

        @include decorationLines();
    }
}

.contacts-info {
    padding-top: 30px;
    padding-bottom: 60px;

    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: -30px;
        margin-left: -10px;
        margin-right: -10px;
    }

    &__col {
        width: 50%;
        margin-bottom: 30px;

        &:nth-child(2n) {
            border-left: solid 2px #eceef0;
        }
    }

    &__col-33 {
        width: 33.3333%;
        margin-bottom: 30px;
        padding: 0 10px;
    }

    @include media-breakpoint-down(lg) {

        &__col,
        &__col-33 {
            width: 50%;
            margin-bottom: 30px;

            &:nth-child(2n) {
                border: none;
            }
        }
    }

    @include media-breakpoint-down(md) {

        &__col,
        &__col-33 {
            width: 100%;
            margin-bottom: 30px;

            &:nth-child(2n) {
                border: none;
            }
        }
    }
}

.contacts-item {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #a6a6a6;
    max-width: 320px;
    margin: 0 auto;

    &__icon {
        flex-shrink: 0;
        margin-right: 50px;
    }

    &__content {
        max-width: 190px;
    }

    p {
        margin-bottom: 3px;
    }

    a {
        color: #bf811f;
        text-decoration: none;

        &:hover {
            color: #bf811f;
            border-bottom: 1px solid;
        }
    }

    &__title {
        font-size: 18px;
        margin-bottom: 3px;
        color: #000;
    }

    &__phone {
        &:hover {
            border: none !important;
        }
    }

    @include media-breakpoint-down(xl) {
        &__icon {
            margin-right: 25px;
        }
    }

    @media (max-width: 320px) {
        &__icon {
            img {
                width: 50px;
            }
        }
    }
}

.contacts-form {
    margin: 30px 0 60px 0;

    &__title {
        font-size: 240%;
        line-height: 1.1;
        text-align: center;
        font-family: $accent-font;
        font-weight: 400;
        margin-bottom: 5px;
    }

    &__desc {
        font-size: 19px;
        text-align: center;
        margin-bottom: 15px;
    }

    &__row {
        display: flex;
        align-items: flex-end;
        margin: 0px -15px 0;
    }

    .btn {
        height: 50px;
        font-size: 20px;
        max-width: 230px;
    }

    .field {
        font-size: 14px;
    }

    .field-row,
    .btn {
        flex-grow: 1;
        margin: 15px;
    }

    @include media-breakpoint-down(md) {
        &__row {
            flex-wrap: wrap;
        }

        .field-row,
        .btn {
            width: 100%;
        }
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 0px;
    }
}

.map {
    font-size: 18px;
    margin-bottom: 60px;

    &__block {
        width: 100%;
        height: 540px;
        background: #eceef0;
        margin-bottom: 60px;

        &:last-child {
            margin-bottom: 0;
        }

        @include media-breakpoint-down(md) {
            height: 400px;
        }

        @include media-breakpoint-down(sm) {
            height: 250px;
            margin-bottom: 30px;
        }
    }

    &__desc {
        text-align: center;
        line-height: 1.65;
    }
}

//-

// about
.about {
    margin-top: -10.5%;
    padding-bottom: 0;
    margin-bottom: -45px;
    position: relative;
    background: linear-gradient(to bottom,
            rgba(233, 233, 233, 1) 20%,
            transparent 80%);
    z-index: 5;
    padding-top: 140px;

    .professions {
        margin: 0 0 0 25px;
        text-align: center;

        svg {
            max-width: 100% !important;
        }

        img {
            max-width: 100%;
        }
    }

    &__text {
        font-size: 26px;
        line-height: 1.49;
        font-family: $accent-font;
        text-align: justify;
    }

    .container {
        position: relative;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -30px;
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__col {
        margin: 30px;

        &:first-child {
            width: calc(55% - 60px);
        }

        &:last-child {
            width: calc(45% - 60px);
        }
    }

    @include media-breakpoint-down(lg) {
        .professions {
            margin: 0 auto;
        }
    }

    @include media-breakpoint-down(md) {
        margin-bottom: 30px;

        &__row {
            flex-wrap: wrap;
            margin-left: 0px;
            margin-right: 0px;
        }

        &__col {
            margin: 0px 0 60px 0;

            &:first-child {
                width: 100%;
            }

            &:last-child {
                width: 100%;
                margin-bottom: 0;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        padding-top: 80px;

        &__text {
            font-size: 18px;
        }
    }
}

.intro-text {
    text-align: center;
    font-size: 26px;
    line-height: 1.46;
    max-width: 980px;
    margin: 50px auto;
    font-family: $accent-font;

    @include media-breakpoint-down(sm) {
        font-size: 18px;
    }
}

.icons-section {
    position: relative;
    z-index: 1;
    margin-bottom: 80px;

    &__row {
        @include make-row();
        margin-bottom: -30px;
    }

    &__col {
        @include make-col(3, 12);
        @include make-col-ready();
        margin-bottom: 30px;
    }

    @include media-breakpoint-down(md) {
        &__col {
            @include make-col(6, 12);
            margin-bottom: 30px;
        }

        &__row {
            margin-bottom: -30px;
        }
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 0px;
    }

    @include media-breakpoint-down(xs) {
        margin-bottom: 0px;

        &__col {
            @include make-col(12, 12);
        }
    }
}

.intro-module {
    padding-top: 50px;
    margin-bottom: 50px;

    &__block {
        border: solid 2px #efbf68;
        text-align: center;
        position: relative;
        font-size: 29px;
        text-transform: uppercase;
        font-family: $accent-font;
        padding: 60px 40px 45px;
    }

    &__content {
        margin: 0 auto;
        padding-top: 20px;
        line-height: 1.6;
        letter-spacing: 3.1px;
    }

    &__title {
        font-size: 39px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: $accent-font;
        transform: translateY(-50%) translateX(-50%);
        position: absolute;
        left: 50%;
        top: 0;
        background: rgb(255, 255, 255);
        padding: 0 30px;
        min-width: 75%;
        line-height: 1.2;

        span {
            display: inline-flex;
            align-items: center;
            vertical-align: top;
            margin: 0 auto;
            position: relative;

            &:before,
            &:after {
                content: "";
                display: block;
                width: 124px;
                height: 29px;
                background: url(../img/decor/form-desc-before.png) center no-repeat;
                background-size: contain;
                flex-shrink: 0;
            }

            &:before {
                right: 100%;
                margin-right: 30px;
            }

            &:after {
                transform: scale(-1, 1);
                left: 100%;
                margin-left: 30px;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        &__title {
            font-size: 36px;
            min-width: 90%;
        }
    }

    @include media-breakpoint-down(md) {
        &__block {
            padding: 60px 30px 30px;
            font-size: 22px;
        }
    }

    @include media-breakpoint-down(sm) {
        &__block {
            padding: 60px 15px 30px;
            font-size: 16px;
        }

        &__content {
            padding-top: 0;
        }

        &__title {
            font-size: 28px;
            min-width: 90%;
            padding: 0;

            span {

                &:after,
                &:before {
                    width: 100px;
                    height: 17px;
                    background-size: contain;
                    display: none;
                }

                &:before {
                    margin-right: 0px;
                }

                &:after {
                    margin-left: 0px;
                }
            }
        }
    }
}

//-

// professions
.professions-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 45px;

    &:last-child {
        margin-bottom: 0;
    }

    li {
        width: 25%;
        margin: 0 0 15px 0;
    }

    @include media-breakpoint-down(lg) {
        li {
            width: 33.3333%;
        }
    }

    @include media-breakpoint-down(md) {
        li {
            width: 50%;
        }
    }

    @include media-breakpoint-down(sm) {
        margin-left: 0px;
        margin-right: 0px;

        li {
            width: 100%;
        }
    }
}

.profession-item {
    padding: 15px 30px 30px;
    border-radius: 2px;
    border: solid 1px transparent;
    display: block;
    color: $black;
    transition: background 0.2s ease;
    $parent: &;

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &__icon {
        margin-right: 20px;
        flex-shrink: 0;

        img,
        svg {
            width: 80px;
            display: block;
        }

        svg {
            height: 80px;
            fill: #e0ab51;
        }
    }

    &__title {
        font-size: 19px;
        text-transform: uppercase;
        color: #bf8220;
        font-family: $accent-font;
    }

    &__content {
        font-size: 15px;
        color: $black;
    }

    &:hover {
        border: solid 1px #c58928;
        background: linear-gradient(to bottom,
                rgba(252, 207, 124, 1) 0%,
                rgba(197, 137, 40, 1) 100%);
        color: $white;

        #{$parent}__content {
            color: $white;
        }

        #{$parent}__title {
            color: $white;
        }

        #{$parent}__icon {
            svg {
                fill: $white;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        padding: 15px 20px 20px;

        &__icon {

            img,
            svg {
                width: 60px;
            }

            svg {
                height: 60px;
            }
        }
    }
}

// professions details
.profession-icons {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    li {
        width: calc(33.333% - 30px);
        display: flex;
        justify-content: center;
        margin: 15px;
    }

    @include media-breakpoint-down(md) {
        li {
            width: calc(50% - 30px);
            justify-content: flex-start;
        }
    }

    @include media-breakpoint-down(sm) {
        margin: 0 15px;

        li {
            width: 100%;
            margin: 0 0 30px 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.profession-icon {
    display: flex;
    align-items: center;
    font-family: $main-font;
    text-align: left;
    letter-spacing: normal;
    font-size: 15px;
    line-height: 1.2;

    p {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    strong {
        font-size: 20px;
        text-transform: none;
    }

    &__icon {
        flex-shrink: 0;
        width: 68px;
        margin-right: 30px;

        img {
            width: 100%;
        }
    }

    @include media-breakpoint-down(xs) {
        &__icon {
            width: 50px;
        }
    }
}

.profession-intro {
    display: flex;
    align-items: center;

    &__right {
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }

    &__desc {
        font-size: 24px;
        margin-right: 100px;
        font-family: $accent-font;
    }

    &__price-desc {
        font-size: 22px;
        position: relative;
        margin-right: 50px;
        line-height: 1.2;
        max-width: 100px;

        &:before {
            content: "";
            width: 2px;
            height: 110px;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(15deg);
            right: 100%;
            margin-right: 50px;
            background: linear-gradient(to top, #bf8120 0%, #fccf7b 100%);
        }
    }

    &__price {
        font-size: 97px;
        white-space: nowrap;
        font-family: $accent-font;
    }

    @include media-breakpoint-down(md) {
        flex-wrap: wrap;

        &__desc {
            margin: 0 0 15px 0;
        }

        &__price-desc {
            &:before {
                display: none;
            }
        }

        &__price {
            font-size: 80px;
        }

        &__right {
            text-align: center;
            justify-content: center;
            margin: 0 auto;
        }
    }

    @include media-breakpoint-down(sm) {
        &__desc {
            font-size: 18px;
        }

        &__price-desc {
            font-size: 18px;
        }

        &__price {
            font-size: 60px;
        }
    }
}

.text-block {
    margin: 50px 0;

    &.typography {
        font-size: 17px;
    }
}

.details-image {
    margin: 50px 0;

    img {
        display: block;
        max-width: 100%;
    }
}

.company-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;

    li {
        width: calc(20% - 30px);
        margin: 15px;
    }

    @include media-breakpoint-down(md) {
        li {
            width: calc(33.3333% - 30px);
        }
    }

    @include media-breakpoint-down(sm) {
        li {
            width: calc(50% - 30px);
        }
    }
}

.company-item {
    text-align: center;
    font-size: 15px;
    line-height: 1.2;
    text-transform: uppercase;

    &__top {
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px #dcdcdc;
        border-radius: 10px;
        height: 160px;
        margin-bottom: 25px;
    }
}

.program-list {
    $parent: &;

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__col {
        &:first-child {
            width: calc(100% - 360px);
            padding-right: 100px;
        }

        &:last-child {
            width: 360px;
        }

        @include media-breakpoint-down(md) {
            &:first-child {
                width: 100%;
                padding-right: 0;
                margin-bottom: 30px;
            }

            &:last-child {
                width: 100%;
            }
        }
    }

    .typography {
        font-size: 17px;

        ul {
            font-size: 18px;
        }
    }

    &__content {
        @include blockStyle();
        z-index: 2;
        margin-top: -2px;
        border-top: none;
        padding-top: 0px;
        padding-bottom: 40px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        transition: border 0.3s ease;

        &.ui-accordion-content-active {
            border: solid 2px #eac88a;
            border-top: none;
        }
    }

    &__time {
        padding-left: 40px;
        margin-left: auto;
        font-family: $main-font;
        font-size: 17px;
        color: #c08321;
        margin-right: 30px;
        font-weight: 700;
        position: relative;
        display: none;

        &:before {
            content: "";
            width: 23px;
            height: 23px;
            display: block;
            background: url("../img/icons/clock.svg") center no-repeat;
            background-size: contain;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        span {
            margin-left: 32px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__title {
        @extend .h3;
        cursor: pointer;
        display: flex;
        align-items: center;
        @include blockStyle();
        padding-right: 60px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        transition: border 0.2s ease-in 0.3s;

        &.ui-state-active {
            background: #fff;
            border: solid 2px #eac88a;
            z-index: 2;
            transition: border 0s ease-in 0s;

            #{$parent}__time {
                display: flex;
            }
        }

        &:after {
            content: "";
            display: block;
            flex-shrink: 0;
            width: 27px;
            position: absolute;
            top: 50%;
            right: 25px;
            margin-top: -7px;
            height: 14px;
            background: url("../img/icons/arrow.svg") center no-repeat;
            background-size: cover;
            transition: all 0.3s ease;
            transform: rotate(0deg);
            opacity: 0.3;
        }

        &.ui-state-active {
            &:after {
                transform: rotate(-180deg);
            }
        }
    }

    &__block {
        border-radius: 20px;
        background: $white;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-down(md) {
        &__title {
            flex-wrap: wrap;
        }

        &__time {
            margin-left: 0;
            margin-top: 15px;
        }
    }

    @include media-breakpoint-down(sm) {
        &__title {
            padding: 20px 60px 20px 20px;
            font-size: 18px;
        }

        &__content {
            padding: 20px 20px 30px;
        }
    }
}

.what-to-learn {
    &__title {
        font-family: $accent-font;
        font-size: 25px;
        margin-bottom: 10px;
        font-weight: 400;
        color: rgba(#000, 0.7);
    }

    ul {
        li {
            position: relative;
            padding-left: 20px;
            margin-bottom: 5px;
            color: rgba(#000, 0.7);

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                content: "";
                width: 10px;
                height: 1px;
                display: block;
                background: #000;
                position: absolute;
                top: 0.75em;
                left: 0;
            }
        }
    }
}

//-

.video-module {
    display: block;
    position: relative;
    text-align: center;
    margin: 20px auto;
    max-width: 500px;
    overflow: hidden;

    &:last-child {
        margin-bottom: 0;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        transition: all .3s ease;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .35);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &::after {
        content: '';
        width: 25%;
        display: block;
        height: 88px;
        background: url('../img/icons/youtube.svg') center no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.1;
        transition: all .3s ease;
        z-index: 2;
    }

    img {
        display: block !important;
        max-width: 100%;
        margin: 0 !important;
    }

    &:hover {
        &:after {
            transform: translate(-50%, -50%) scale(1.1);
        }
    }
}