.header {
    padding-top: 20px;
    padding-bottom: 20px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        font-size: 13px;
        margin: 0 30px;

        ul {
            display: flex;
        }

        a {
            color: #fff;
        }

        li {
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }

            &.active {
                a {
                    color: #aeaeae;
                }
            }
        }
    }

    &__social {
        display: flex;
        align-items: center;
        margin: 0 auto;

        li {
            margin: 0 10px;
        }

        a {
            opacity: 0.3;
            transition: all .3s ease;
            width: 25px;
            display: block;

            img {
                display: block;
                max-width: 100%;
                height: 25px;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    &__logo {
        display: block;
        width: 200px;
        margin-right: auto;

        img {
            display: block;
            max-width: 100%;
        }
    }

    &__buttons {
        a {
            font-size: 11px;
            text-transform: uppercase;
            color: #8c8c8c;
            letter-spacing: 1.76px;
            font-weight: 700;
            font-family: $accent-font;
            padding: 5px 15px;
            border-right: solid 1px #00bbd1;

            &.color-accent {
                color: #00bbd1;
            }

            &:last-child {
                border: none;
            }

            &:hover {
                color: #fff;
            }
        }
    }

    .language-module {
        margin: 0 auto;
    }
}

.language-module {
    position: relative;
    color: #8c8c8c;
    font-size: 11px;
    $parent: &;

    &__current {
        cursor: pointer;
        position: relative;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;

        &:after {
            content: '';
            width: 5px;
            height: 5px;
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            margin: 0 0 0 5px;
            border-bottom: 1px solid #8c8c8c;
            border-right: solid 1px #8c8c8c;
            transform: translateY(-60%) rotate(45deg);
        }
    }

    &__dropdown {
        position: absolute;
        top: 100%;
        left: -1px;
        width: 30px;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: all .3s ease;

        a {
            width: 100%;
            padding: 3px 5px;
            display: block;
            border: solid 1px #8c8c8c;
            color: #fff !important;
            margin-bottom: -1px;

            &:hover {
                background: $color-1;
                color: #000 !important;
            }
        }

        // display: none;
    }

    &:hover {
        #{$parent}__dropdown {
            opacity: 1;
            visibility: visible;
            transform: none;
        }
    }
}

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

    &__inside {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            display: block;
            max-width: 150px;

            &:first-child {
                margin-bottom: 15px;
            }

            &:last-child {
                width: 40px;
            }
        }
    }
}

.section {
    margin: 170px 0;
}

.intro {
    margin-top: 0;
    padding-top: 60px;
    text-align: center;

    &__subtitle {
        @extend .subtitle;
        color: #777;
        margin-bottom: 15px;
    }

    &__title {
        @extend .title;
        margin-bottom: 70px;
    }

    &__buttons {
        margin-top: 80px;
    }

    &__desc {
        letter-spacing: 3.6px;
        font-size: 18px;
        font-weight: 700;
        font-family: $accent-font;
        text-transform: uppercase;
        margin-top: 40px;
    }

    &__mouse {
        display: block;
        margin: 50px auto 0;
        width: 32px;

        svg {
            fill: #474747;
            width: 100%;
            height: 52px;
            display: block;
            transition: all .4s ease;
        }

        &:hover {
            svg {
                fill: $color-1;
            }
        }
    }
}

.intro-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

.watch {
    text-align: center;

    &__title {
        @extend .title;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
}


.section-title {
    text-transform: uppercase;
    font-family: $accent-font;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 2.69px;
    text-align: center;
    margin-bottom: 60px;
}

.about {

    &__row {
        @include make-row();
    }

    &__col {
        @include make-col(4, 12);
        @include make-col-ready();
    }
}

.about-item {
    text-align: center;

    &__icon {
        margin-bottom: 40px;
    }

    &__logo {
        margin-bottom: 40px;
        opacity: 0.4;
    }

    &__desc {
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1.12px;
        max-width: 255px;
        margin: 0 auto;
        line-height: 2.3;
    }
}

.advantages {
    &__row {
        @include make-row();
        justify-content: center;
        margin-bottom: -80px;
    }

    &__col {
        @include make-col(3, 12);
        @include make-col-ready();
        margin-bottom: 80px;
    }
}

.advantages-item {
    text-align: center;

    &__icon {
        font-size: 20px;
        width: 177px;
        height: 177px;
        border: solid 1px #fff;
        border-radius: 5em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 30px;

        img {
            max-width: 80px;
            height: 80px;
        }
    }

    &__title {
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        font-family: $accent-font;
        letter-spacing: 2.24px;
        max-width: 200px;
        margin: 0 auto 10px;
        line-height: 1.8;
    }

    &__desc {
        line-height: 1.8;
        font-size: 12px;
        max-width: 180px;
        margin: 0 auto;
        color: rgba(#fff, 0.5);
    }
}

.top100 {
    &__imac {
        img {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
}

.coming {
    &__title {
        @extend .title;
        color: rgba(#fff, 0.4);
        text-align: center;
        margin-bottom: 105px;
    }

    &__image {
        margin: 0 auto;

        img {
            display: block;
            margin: 0 auto 110px;
            max-width: 100%;
        }
    }

    &__text {
        text-align: center;
        font-size: 22px;
        color: #777;
        font-weight: 300;
        line-height: 1.8em;
        margin: 0 auto;
        max-width: 840px;
    }
}

.apps {
    text-align: center;

    &__row {
        display: flex;
        align-items: center;
    }

    &__col {
        width: 325px;

        &:last-child {
            width: calc(100% - 325px);
        }
    }

    .section-title {
        line-height: 2.2em;
    }

    &__phone {
        img {
            max-width: 100%;
            display: block;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            margin: 15px;
        }

        a {
            transition: all .3s ease;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &__subtitle {
        @extend .subtitle;
        color: rgba(#fff, 0.4);
        letter-spacing: 2.69px;
        margin-top: 80px;
        font-family: $accent-font;
        font-weight: 700;
    }
}

.faq {
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
}

.social-icons {
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -15px;
    }

    li {
        margin: 15px
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #373737;
        transition: all .4s ease;
        width: 100px;
        height: 100px;
        border-radius: 50%;

        &:hover {
            transform: scale(0.95);
            background: #373737;
        }
    }

    img {
        height: 40px;
        display: block;
    }
}

.footer {
    &__top {
        padding-bottom: 65px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -15px;
        margin-right: -15px;
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 30px;
        letter-spacing: 1.82px;
        font-weight: 700;
        font-size: 13px;
        font-family: $accent-font;
    }

    &__list {
        a {
            color: #26bbd1;
            font-size: 13px;
            font-weight: 300;
            transition: all .4s ease;

            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }

        li {
            margin-bottom: 15px;
        }
    }

    &__col {
        width: 20%;
        padding: 0 15px;
    }

    &__bottom {
        background: #272727;
        color: #848484;
        font-size: 13px;
        padding-bottom: 80px;

        .typography {
            font-size: 13px;
        }

        a {
            color: #848484;
            text-decoration: underline;
            transition: all .4s ease;

            &:hover {
                color: #fff;
            }
        }

        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px 0;
            border-bottom: 1px solid #494949;
            margin-bottom: 40px;
        }
    }
}

.copyright {
    font-size: 13px;
    font-weight: 300;
}