.percent-section {
    font-size: 30px;
    font-family: $accent-font;
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 45px;
        padding-top: 60px;
    }
    &__count {
        font-size: em(192px, 30px);
        @extend .gr-accent;
        line-height: 1;
        letter-spacing: -0.03em;
        margin: 0px 60px 0px;
        text-align: center;
        position: relative;
        &:after {
            content: '';
            width: 236px;
            height: 30px;
            display: block;
            background: url('../img/decor/percent-after.png') center no-repeat;
            margin: 25px auto 0;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            top: 100%;
        }
    }
    &__text {
        text-align: center;
        font-style: italic;
        line-height: 1.2;
    }
    @include media-breakpoint-down(md) {
        text-align: center;
        font-size: 24px;
        position: relative;
        z-index: 2;
        &__row {
            flex-wrap: wrap;
            padding-bottom: 0;
            justify-content: center;
            padding-top: 0px;
        }
        &__count {
            font-size: em(150px, 30px);
            margin-top: 20px;
            &:after {
                position: relative;
                margin-bottom: 30px;
                margin-top: 0;
            }
        }
    }
    @include media-breakpoint-down(sm) {}
}