.percent-section {
    font-size: 30px;
    font-family: $accent-font;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 45px;
    }

    &__count {
        font-size: em(192px, 30px);
        @extend .gr-accent;
        letter-spacing: -0.6px;
        margin: 0 60px;
        position: relative;

        &:after {
            content: '';
            width: 236px;
            height: 30px;
            display: block;
            background: url('../img/decor/percent-after.png') center no-repeat;
            margin: 15px auto 0;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            top: 100%;
        }
    }

    &__text {
        text-align: center;
        font-style: italic;
        line-height: 1.2;
    }
}
