.well-being {
    .title {
        margin-bottom: 93px;
        font-size: 49px;
        text-align: right;

        small {
            display: block;

        }
    }

    &__row {
        @include make-row();
    }

    &__col {
        @include make-col(4, 12);
        @include make-col-ready();
    }

    .buttons {
        margin-top: 40px;
    }

    @include media-breakpoint-down(md) {
        padding-top: 60px;

        .title {
            font-size: 40px;
            margin-bottom: 40px;
        }
    }

    @include media-breakpoint-down(sm) {

        padding-bottom: 0;

        &__row {
            margin-bottom: -30px;
            justify-content: center;
        }

        &__col {
            @include make-col(6, 12);
            margin-bottom: 30px;
        }

        .title {
            font-size: 30px;
            display: block;
            text-align: center;
            span{
                display: block;
            }
            .gr-accent {
                background-image: none;
            color: #ebb95d !important;
            -webkit-text-fill-color: inherit;
            }
        }

    }

    @include media-breakpoint-down(xs) {
        &__col {
            @include make-col(12, 12);
        }

        .circle-item {
            &__desc {
                max-width: 100%;

                br {
                    display: none;
                }
            }
        }

        .title {
            font-size: 24px;
        }
    }
}

.circle-item {
    text-align: center;
    font-size: 23px;

    &__icon {
        margin-bottom: 20px;
        border-radius: 50%;
        border: solid 2px #c38a1f;
        width: 148px;
        height: 148px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 50px;

        img {
            width: 68px;
        }
    }

    svg {
        width: 100%;
    }

    &__desc {
        max-width: 315px;
        font-family: $accent-font;
        margin: 0 auto;
    }

    @include media-breakpoint-down(md) {
        font-size: 16px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 14px;

        &__icon {
            margin: 0 auto 20px;
            width: 100px;
            height: 100px;

            img {
                width: 50%;
            }
        }
    }
}
