.icon-gear {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-lock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mouse {
  width: 0.59em;
  height: 1em;
  fill: initial;
}
.icon-request {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-send {
  width: 1em;
  height: 1em;
  fill: initial;
}
