.icon-eye {
  width: 1.72em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-user-line {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 0.83em;
  height: 1em;
  fill: initial;
}
