.icon-affiliate {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-left {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-book {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-chart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cross {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-exit {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-eye {
  width: 1.72em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-home {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-minus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-money-2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-money {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-news {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-partners {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-reading {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-rocket {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-save-money {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-settings {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sharer {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-team {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user-line {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user-team {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 0.83em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
